

:root {
    // Global layout
    --enjanga-body-top-padding: 56px;

    // Navbar
    --enjanga-navbar-position: fixed;

    // Hero
    --enjanga-hero-text-align: center;
    --enjanga-hero-main-character-dislay: none;
    --enjanga-hero-ellipse-dislay: none;
    --enjanga-hero-padding-y: 40px;
    --enjanga-hero-txtWrapMaxW: 80%;
    --enjanga-hero-txtWrapMargW: auto;

    // (Home Page) Case study section
    --enjanga-home-cs-padding-y: 40px;
    --enjanga-home-cs-txtWrapMaxW: 80%;
    --enjanga-home-cs-ctaImg-margTop: 30px;

    // Footer
    --enjanga-footer-text-align: center;
    --enjanga-footer-txtWrapMaxW: 80%;
    --enjanga-footer-txtWrapMargW: auto;
    --enjanga-footer-padding-y: 40px;
    --enjanga-footer-txtWrap-display: grid;
    --enjanga-footer-txtWrap-gtr: auto auto auto;
    --enjanga-footer-txtWrap-gap: 30px;

    // Case study page
    --enjanga-case-study-margTop: 20px;
    --enjanga-case-study-section-wrapper-padding: 40px 0;
    --enjanga-case-study-content-wrapper-txtWrapMaxW: 100%;
    --enjanga-case-study-boxAccent-padding: 20px;

}


