<header class="hero">
    <div class="container">
        <div class="text-wrapper">
            <h1>
                The art &amp; science of turning web visitors into repeat customers
            </h1>
            <p appFadeInSection>I enjoy educating Canadian businesses about web experience. This journal features my thoughts and insights on <span class="accent">browsing experiences</span> that turn visitors into <span class="accent">repeat customers</span>.</p>
        </div>
    </div>
</header>

<main class="page-blog container section-spacing-marg-y-top section-spacing-marg-y-bottom">
    <app-articles-listing></app-articles-listing>
</main>