<header class="hero">
    <div class="container">
        <div class="text-wrapper">
            <h1>
                Insights on the User Experience of websites for business growth
            </h1>
            <p appFadeInSection>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum doloribus repellat ratione assumenda minus quibusdam tempora temporibus! Tenetur non quod sint harum velit itaque tempora, laborum ea illum reiciendis at!</p>
        </div>
    </div>
</header>

<main class="page-blog container section-spacing-marg-y-top section-spacing-marg-y-bottom">
    <app-articles-listing></app-articles-listing>
</main>