<header class="hero">
    <div class="container">
        <div class="text-wrapper">
            <h1>
                Insights on the User Experience of websites for business growth
            </h1>
            <p appFadeInSection>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum doloribus repellat ratione assumenda minus quibusdam tempora temporibus! Tenetur non quod sint harum velit itaque tempora, laborum ea illum reiciendis at!</p>
        </div>
    </div>
</header>

<main class="page-blog container section-spacing-marg-y-top section-spacing-marg-y-bottom">
    
    <article class="entry is-center-stage">
        <a routerLink="/blog/web-design-mistake-1-ignoring-your-ideal-customers">
            <img class="main-character img-fluid" src="./../../../assets/img/july2023/article-2-tmb-min.png" alt="">
            <header class="entry__header">
                <h2 class="entry-title">Web Design Mistake #1: Ignoring your ideal customers</h2>
                <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m242-246-42-42 412-412H234v-60h480v480h-60v-378L242-246Z"/></svg>
            </header>
            <p class="entry__text">Back in 2013, I decided to turn my web design skills into a business. "What can go wrong?" I thought, “Everybody would love a beautiful website.” Instead of making a business plan, and getting business and sales coaching, I decided to “follow my #passion”, “because the #money will eventually come” (probably the worst advice I got from internet #influencers and #motivation Gurus).</p>
        </a>
    </article>

    <article class="entry">
        <a href="/blog/6-keys-captivate-attention-your-web-visitors-hero-section">
            <img class="main-character img-fluid" src="./../../../assets/img/july2023/article-1-tmb-min.png" alt="">
            <header class="entry__header">
                <h2 class="entry-title">6 keys to captivate the attention of your web visitors: The hero section</h2>
                <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m242-246-42-42 412-412H234v-60h480v480h-60v-378L242-246Z"/></svg>
            </header>

            <p class="entry__text">The first thing people see when they land on a website is the hero, it refers to the prominent and visually appealing section at the top of a web page. A poorly designed hero will severely damage the chance of user conversion.</p>
        </a>
    </article>
</main>