<app-hero 
    titleCaption="ux designer for 4 years"
    title="Focused on creating intuitive and engaging digital experiences that meet user needs and business goals." 
    size="small" 
    page="..."
    image=""
></app-hero>



<header>
    <h5 class="title-caption">ux designer for 4 years</h5>
    <h2>Focused on creating intuitive and engaging digital experiences that meet user needs and business goals.</h2>
</header>
<p>Eric’s commitment to help organizations get higher user satisfaction, and better customer retention makes him a
    strong evangelist of the user-centred process. He likes delivering practical results:</p>
<ul class="nice-bullet-list list-align-bullets-with-left-edge">
    <li><b>User Experience Improvement:</b> Through user research, and persona creation, he creates a seamless,
        intuitive, and delightful interfaces that meet users' needs and expectations</li>
    <li><b>Enhanced Functionality:</b> He identifies areas for improvement, suggests new features and functionalities,
        and create wireframes and prototypes to test new ideas</li>
    <li><b>Increased Brand Loyalty:</b> He creates a consistent brand identity across all touchpoints, including the
        website, mobile app, social media, and marketing materials.</li>
</ul>