// Gloabl padding (on all screen size)
// ------------------------------------------------
.component-wrapper {
    @container (min-width: 1141px) {
        $gap: 60px;

        // Set padding ...
        @include rem(padding, $gap);
    }

    // Increase column width
    @container (min-width: 961px) and (max-width: 1140px) {
        $gap: 50px;

        // Set padding ...
        @include rem(padding, $gap);
    }

    // Set column width
    @container (min-width: 721px) and (max-width: 960px) {
        $gap: 40px;

        // Set padding ...
        @include rem(padding, $gap);
    }

    // By default, establish grid ...
    @container (min-width: 721px) {
        // Set box look
        @include gobalBorderRadius(); //radius
    }

    // Default padding
    @include rem(padding, 20px);
}

 




// Container that wraps all elements of this component
// ------------------------------------------------
.elements-wrapper {

    // @container (min-width: 1141px) {
    // }

    // @container (min-width: 961px) and (max-width: 1140px) {
    // }

    // Display element in a row (only starting at this breakpoint)
    @container (min-width: 721px) {
        display: flex;
        @include rem(width, 1180px);
        // ...
        .text-wrapper {
            @include rem(width, 433px);
        }
        .frame-testimonials {
            margin-left: auto;
        }
    }

    // In mobile view, create some vertical space between elements
    @container (max-width: 720px) {
        .text-wrapper {
            @include rem(margin-bottom, 40px);
        }
        .frame-testimonials {
            @include rem(margin-bottom, 20px);
        }
    }

    .text-wrapper {
        // Put up the element above it
        .mentors__quote {
            display: block;
            @include rem(margin-top, 30px);
        }
    }

    // @container (max-width: 540px) {
    //     .text-wrapper {
    //         @include rem(margin-bottom, 30px);
    //     }
    // }
}



// Pagination visibility and position (on all screen size)
// ------------------------------------------------
.component-wrapper {
    // Temporary hide the overflow created by paginated elements
    // this way (we'll come up with a better solution once we start
    // activating the pagination)
    overflow-x: hidden;
}
.frame-testimonials {
    position: relative;

    @container (min-width: 1141px) {
        .component-pagination {
            display: none;
        }
    }

    @container (min-width: 961px) and (max-width: 1140px) {
        @include rem(padding-top, 50px);
        .component-pagination {
            @include rem(right, 160px);
            top: 0;
        }
    }

    @container (min-width: 721px) and (max-width: 960px) {
        @include rem(padding-top, 50px);
        .component-pagination {
            @include rem(right, 320px);
            top: 0;
        }
    }

    @container (min-width: 541px) and (max-width: 720px) {
        .component-pagination {
            display: none;
        }
    }

    @container (max-width: 540px) {
        @include rem(padding-top, 50px);
        .component-pagination {
            top: 0;
        }
    }

}



// Text wrapper size (on all screen size)
// ------------------------------------------------
$text-wrapper-w: 433px;

.text-wrapper {

    @container (min-width: 1141px) {}

    @container (min-width: 961px) and (max-width: 1140px) {}

    @container (min-width: 721px) and (max-width: 960px) {}

    @container (min-width: 541px) and (max-width: 720px) {}

    @container (max-width: 540px) {}
}