<header class="hero page-case-study">
    <div class="container text-center">
        <div class="text-wrapper">
            <h1>
                Transformation and realignment of a website with corporate strategy
            </h1>
        </div>

        <div class="hero-img-wrapper" appFadeInSection>
            <img class="img-fluid img-stage" src="./../../../assets/img/july2023/case-study-1-stagex-off.png" alt="">
        </div>
    </div>
</header>



<main class="container page-case-study bx-container">

    <section class="section-spacing-marg-y-top">
        <div class="small-centered-block">
            <header>
                <span class="pre-title fs-8">Project discovery</span>
                <h2 class="block-title">Misalignment with business objectives and stagnant growth</h2>
            </header>
            <div appFadeInSection>
                <p class="block-p">“Over time, my website grew to become disorganized, with things scattered all over the place. 
                    The mobile experience was horrendous; it was an absolute mess.”</p>
        
                <p class="block-p fs-8 mb-0">Viren Parmar (CEO of Karma Financial)</p>
        
                <!-- <footer>
                    <a class="btn btn-secondary btn-small" (click)="scrollToSection('customer-studies')">How I’m studying customers</a>
                    <a class="btn btn-primary btn-small">Slideshow</a>
                </footer> -->
            </div>
        </div>

        <img 
            appFadeInSection
            class="img-fluid img-stage img-stage1" 
            src="./../../../assets/img/july2023/case-study-1-stage1-off.png" 
            alt=""
        >
    </section>


    <section class="section-spacing-marg-y-top" id="customer-studies">
        <div class="small-centered-block">
            <header>
                <span class="pre-title fs-8">User/customer studies</span>
                <h2 class="block-title">Putting customers at the center of the new solution</h2>
            </header>
            
            <div appFadeInSection>
                <p class="block-p mb-0">I create user-centric solutions, therefore I start by summarizing everything I learn about target customers inside a persona. Because I want the solution to appeal to users, I will base all my future design decisions on this persona.</p>
        
                <!-- <footer>
                    <a class="btn btn-secondary btn-small" (click)="scrollToSection('a-tailored-solution')">How I’m creating the solution</a>
                    <a class="btn btn-primary btn-small">Slideshow</a>
                </footer> -->
            </div>
        </div>

        <img 
            appFadeInSection
            class="img-fluid img-stage img-stage2" 
            src="./../../../assets/img/july2023/case-study-1-stage2-off.png" 
            alt=""
        >
    </section>
    

    <section class="section-spacing-marg-y-top" id="a-tailored-solution">
        <div class="small-centered-block">
            <header>
                <span class="pre-title fs-8">Prototype creation</span>
                <h2 class="block-title">Tailoring the solutions to match business requirements</h2>
            </header>
            
            <div appFadeInSection>
                <p class="block-p">Creating a prototype is essential, as it allows me to visualize and test the website before it gets developed. I sketch and test the website navigation, information architecture, and many key features.</p>
                <p class="block-p mb-0">It is during this time that I test user flows, which are steps users take to accomplish specific tasks or goals within the website (subscribing to a newsletter, buying a product, or booking a consultation).</p>
                <!-- <footer>
                    <a class="btn btn-secondary btn-small" (click)="scrollToSection('accessibility')">How I’m making the solution accessible</a>
                    <a class="btn btn-primary btn-small">Slideshow</a>
                </footer> -->
            </div>
        </div>

        <img 
            appFadeInSection
            class="img-fluid img-stage img-stage3" 
            src="./../../../assets/img/july2023/case-study-1-stage3-off.png" 
            alt=""
        >
    </section>
    

    <section class="section-spacing-marg-y-top" id="accessibility">
        <div class="small-centered-block">
            <header>
                <span class="pre-title fs-8">Accessibility</span>
                <h2 class="block-title">Making the solution accessible to users</h2>
            </header>
            
            <div appFadeInSection>
                <p class="block-p mb-0">I compare design colors, visual contrasts, typefaces, and font sizes against <a target="_blank" href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Accessibility Guidelines</a> to ensure the content is perceivable, operable, understandable, and robust for all users, including those with disabilities.</p>

                <!-- <footer>
                    <a class="btn btn-secondary btn-small" (click)="scrollToSection('user-preferrences')">User preferrences</a>
                    <a class="btn btn-primary btn-small">Slideshow</a>
                </footer> -->
            </div>
        </div>

        <img 
            appFadeInSection
            class="img-fluid img-stage img-stage4" 
            src="./../../../assets/img/july2023/case-study-1-stage4-off.png" 
            alt=""
        >
    </section>
    

    <section class="section-spacing-marg-y-top" id="user-preferrences">
        <div class="small-centered-block">
            <header>
                <span class="pre-title fs-8">User preferences</span>
                <h2 class="block-title">Anticipating users’ preferences</h2>
            </header>
            
            <div appFadeInSection>
                <p class="block-p mb-0">The final step of the design process consists in enhancing the experience for readability, eye comfort, and aesthetics in different lighting conditions or personal preferences. This allows the website to cater to users’ preferences for light or dark mode and further enhances customers’ browsing experience. </p>
            </div>
        </div>

        <img 
            appFadeInSection
            class="img-fluid img-stage img-stage5" 
            src="./../../../assets/img/july2023/case-study-1-stage5-off.png" 
            alt=""
        >
    </section>
    

    <section class="section-spacing-marg-y-top" id="user-preferrences">
        <div class="small-centered-block">
            <header>
                <span class="pre-title fs-8">Website Development</span>
                <h2 class="block-title">Coding the website’s user interface</h2>
            </header>
            
            <div appFadeInSection class="mb-20">
                <p class="block-p mb-0">During the development process, I create a custom WordPress theme with the most up-to-date UI technologies, making the code light, fast, and responsive, ensuring a seamless experience across mobile, table, and desktop. </p>
            </div>
        </div>


        <div class="iframe-container">
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/DgWOmUw_1-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
            <iframe src="https://www.youtube.com/embed/DgWOmUw_1-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>





        <!-- https://www.youtube.com/watch?v=DgWOmUw_1-w -->
        <!-- <youtube-player videoId="v=DgWOmUw_1-w"></youtube-player> -->


        <!-- <img 
            appFadeInSection
            class="img-fluid img-stage img-stage5" 
            src="./../../../assets/img/july2023/case-study-1-stage5-off.png" 
            alt=""
        > -->
    </section>
    

    <section class="box-accent section-spacing-marg-y-bottom section-spacing-marg-y-top">
        <div class="small-centered-block text-center">
            <img class="img-fluid image-accent" src="./../../../assets/img/july2023/Eric Njanga - v2.png" alt="">
            <div appFadeInSection>
                <h3 class="block-title accent-title">Book a consultation today</h3>
                <p class="block-p accent-paragraph">I can transform the experience on your website to make it user-friendly, engaging, responsive, and drive business’ growth. </p>
            </div>
            <footer class="d-flex" appFadeInSection>
                <a routerLink="/" class="btn btn-secondary">
                    Keep browsing
                </a>
                <a target="_blank" href="https://calendly.com/enjanga/15min" class="btn btn-primary">
                    Book a consultation
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 -960 960 960" width="25"><path d="M596.817-220Q556-220 528-248.183q-28-28.183-28-69T528.183-386q28.183-28 69-28T666-385.817q28 28.183 28 69T665.817-248q-28.183 28-69 28ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v620q0 24-18 42t-42 18H180Zm0-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z"/></svg>
                </a>
            </footer>
        </div>
    </section>
</main>
