<header class="hero">
    <div class="container text-center" appFadeInSection>
        <div class="text-wrapper">
            <h1>
                Transformation and realignment of a website with corporate strategy
            </h1>
        </div>

        <img class="img-fluid cta-image" src="./../../../assets/img/july2023/case-study-1.png" alt="">
    </div>
</header>



<main class="container">

    <section class="section-wrapper">
        <div class="content-wrapper">
            <header>
                <h2>Transforming without compromising business objectives</h2>
            </header>
            <div appFadeInSection>
                <p>“Over time, my website grew to become disorganized, with things scattered all over the place. 
                    The mobile experience was horrendous; it was an absolute mess.”</p>
        
                <p class="fs-8">Viren Parmar (CEO of Karma Financial)</p>
        
                <footer>
                    <a class="btn btn-secondary btn-small" (click)="scrollToSection('customer-studies')">Customer Studies</a>
                    <a class="btn btn-primary btn-small">Slideshow</a>
                </footer>
            </div>

            <div class="img-wrapper dd1 pb-0" appFadeInSection>
                <img class="img-fluid" src="./../../../assets/img/july2023/case study 1 - image 2.png" alt="">
            </div>
        </div>
    </section>
    
    <section class="section-wrapper" id="customer-studies">
        <div class="content-wrapper">
            <header>
                <h2>Putting customers at the center of the new solution</h2>
            </header>
            
            <div appFadeInSection>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur atque vero culpa veniam molestiae a fuga voluptas ipsum voluptatem, necessitatibus quam nesciunt veritatis magnam commodi explicabo debitis rerum qui aut.</p>
        
                <footer>
                    <a class="btn btn-secondary btn-small" (click)="scrollToSection('a-tailored-solution')">A tailored solution</a>
                    <a class="btn btn-primary btn-small">Slideshow</a>
                </footer>
            </div>

            <div class="img-wrapper dd1" appFadeInSection>
                <img class="img-fluid" src="./../../../assets/img/july2023/case study 1 - image 3.png" alt="">
            </div>
        </div>
    </section>
    
    <section class="section-wrapper bg-accent">
        <div class="content-wrapper">
            <img class="img-fluid" src="./../../../assets/img/july2023/Eric Njanga - v2.png" alt="">
            <div appFadeInSection>
                <h3 class="accent-title">No cookie cutters</h3>
                <p class="accent-paragraph">“I research and test the solution on paper, then I’m creating a prototype to visualize the solution before finalizing the details”.</p>
            </div>
        </div>
    </section>
    
    <section class="section-wrapper" id="a-tailored-solution">
        <div class="content-wrapper">
            <header>
                <span class="fs-8">Creating a prototype</span>
                <h2>Tailoring the solutions to match business requirements</h2>
            </header>
            
            <div appFadeInSection>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur atque vero culpa veniam molestiae a fuga voluptas ipsum voluptatem, necessitatibus quam nesciunt veritatis magnam commodi explicabo debitis rerum qui aut.</p>
                
                <footer>
                    <a class="btn btn-secondary btn-small" (click)="scrollToSection('accessibility')">Accessibility</a>
                    <a class="btn btn-primary btn-small">Slideshow</a>
                </footer>
            </div>

            <div class="img-wrapper dd1" appFadeInSection>
                <img class="img-fluid" src="./../../../assets/img/july2023/case study 1 - image 4.png" alt="">
            </div>
        </div>
    </section>
    
    <section class="section-wrapper" id="accessibility">
        <div class="content-wrapper">
            <header>
                <span class="fs-8">Accessibility</span>
                <h2>Making the solution accessible to users</h2>
            </header>
            
            <div appFadeInSection>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur atque vero culpa veniam molestiae a fuga voluptas ipsum voluptatem, necessitatibus quam nesciunt veritatis magnam commodi explicabo debitis rerum qui aut.</p>
        
                <footer>
                    <a class="btn btn-secondary btn-small" (click)="scrollToSection('user-preferrences')">User preferrences</a>
                    <a class="btn btn-primary btn-small">Slideshow</a>
                </footer>
            </div>

            <div class="img-wrapper dd1" appFadeInSection>
                <img class="img-fluid" src="./../../../assets/img/july2023/case study 1 - image 5.png" alt="">
            </div>
        </div>
    </section>
    
    <section class="section-wrapper" id="user-preferrences">
        <div class="content-wrapper">
            <header>
                <span class="fs-8">User Preferences</span>
                <h2>Anticipating users’ preferences</h2>
            </header>
            
            <div appFadeInSection>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur atque vero culpa veniam molestiae a fuga voluptas ipsum voluptatem, necessitatibus quam nesciunt veritatis magnam commodi explicabo debitis rerum qui aut.</p>
    
                <div class="img-wrapper dd1">
                    <img class="img-fluid" src="./../../../assets/img/july2023/case study 1 - image 6.png" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-wrapper bg-accent">
        <div class="content-wrapper">
            <img class="img-fluid" src="./../../../assets/img/july2023/Eric Njanga - v2.png" alt="">
            <div appFadeInSection>
                <h3 class="accent-title">Thank you for reading.</h3>
                <p class="accent-paragraph">I research and test the solution on paper, then I’m creating a prototype to visualize the solution before finalizing the details.</p>
            </div>
        </div>
        <footer appFadeInSection>
            <a href="mailto:eric.njanga@gmail.com" class="btn btn-primary">Email me</a>
        </footer>
    </section>
</main>
