
// Links with icons
@layer buttons {
    .link-icon {
        display: flex;
        gap: 10px;
        align-items: center;

        svg path {
            fill: var(--enjanga-clr-nav-svg);
        }
    }
}


// 
@layer buttons {
    .btn {
        border-color: transparent;
        border-radius: var(--enjanga-btn-border-radius);
        padding-left: var(--enjanga-btn-padding-x);
        padding-right: var(--enjanga-btn-padding-x);

        .icon {
            margin-left: 5px;
        }
    }
    .btn-primary {
        color: var(--enjanga-clr-btn-primary);
        background-color: var(--enjanga-clr-btn-primary-bg);
        &:hover {
            background-color: var(--enjanga-clr-btn-primary-bg-hover);
        }
    }
    .btn-secondary {
        color: var(--enjanga-clr-btn-secondary);
        background-color: var(--enjanga-clr-btn-secondary-bg);
        &:hover {
            background-color: var(--enjanga-clr-btn-secondary-bg-hover);
        }

        svg path {
            fill: var(--enjanga-clr-btn-secondary-icon);
        }
    }

    .btn-scrollToSection.btn-hero {
        padding: 10px;
        border-radius: var(--enjanga-btn-border-radius);
        color: var(--enjanga-clr-btn-scrollToSection);
        border: 1px solid var(--enjanga-clr-btn-scrollToSection);
        background-color: var(--enjanga-clr-btn-scrollToSection-bg);
        svg {
            fill: var(--enjanga-clr-btn-scrollToSection);
        }
    }
}
