
@layer hero {
    .hero {
        text-align: var(--enjanga-hero-text-align);
        padding-top: var(--enjanga-hero-padding-y);
        padding-bottom: var(--enjanga-hero-padding-y);
        background-color: var(--enjanga-clr-hero-bg);
    
        .text-wrapper {
            margin: 0 var(--enjanga-hero-txtWrapMargW);
            max-width: var(--enjanga-hero-txtWrapMaxW);
        }
    
        h1 {
            color: var(--enjanga-clr-hero-h1);
        }
        p {
            color: var(--enjanga-clr-hero-p);
        }
    }
}


@layer hero {
    .hero {
        .text-wrapper {
            @media (min-width: 1400px) {
                border: 10px solid green; 
            }
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                border: 10px solid rgb(183, 0, 255); 
            }
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                border: 10px solid lime; 
            }
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                border: 10px solid blue; 
            }
            @media (min-width: 576px) and (max-width: (768px - 1)) {
                border: 10px solid turquoise;
            }
        }
    }
}


@layer hero {
    .hero {
        .img-wrapper {
            @media (min-width: 1400px) {
                border: 10px solid green; 
            }
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                border: 10px solid rgb(183, 0, 255); 
            }
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                border: 10px solid lime; 
            }
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                border: 10px solid blue; 
            }
            @media (min-width: 576px) and (max-width: (768px - 1)) {
                border: 10px solid turquoise;
            }
        }
    }
}


