
@layer light-box {
    .light-box-link-hidden {
        position: absolute;
        visibility: hidden;
    }

    .lightbox-img-wrapper {
        position: relative;
        img {
            transition: opacity 0.3s;
        }

        // Hover effect only on large screens
        @media (min-width: 1200px) {
            &:hover {
                img {
                    opacity: 0.2;
                }
            }
        }
    }
    .light-box-link-icon {
        fill: #fff;
    }
}