

/**
 * https://getbootstrap.com/docs/5.3/utilities/text/#font-size
*/
@layer text {
    .fs-7 {
        font-size: 0.9rem!important;
    }
    .fs-8 {
        font-size: 0.8rem!important;
    }
}


/**
 * https://getbootstrap.com/docs/5.3/utilities/spacing/
*/
@layer spacing {
    .mb-0 {
        margin-bottom: 0!important;
    }
    .mb-10 {
        margin-bottom: 10px!important;
    }
    .mb-20 {
        margin-bottom: 20px!important;
    }
    .mb-30 {
        margin-bottom: 30px!important;
    }
    .mb-50 {
        margin-bottom: 50px!important;
        
    }
    .ml-15 {
        margin-left: 15px;
    }
    .mr-15 {
        margin-right: 15px;
    }
    .pt-0 {
        padding-top: 0!important;
    }
    .pl-0 {
        padding-left: 0!important;
    }
    .pb-0 {
        padding-bottom: 0!important;
    }
}




@layer lists {
    .list-style-none {
        list-style: none;
        padding-left: 0;
    }
}