<header class="hero pb-0">
    <div class="container">
        <div class="row">
            <div class="text-wrapper">
                <div class="col">
                    <h1>
                        Why Mobile Responsiveness is good for business
                    </h1>
                </div>
                <div class="col">
                    <button class="btn-scrollToSection btn-hero" (click)="scrollToSection()">
                        Read now
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 -960 960 960" width="25"><path d="M480-80 200-360l42-42 208 208v-686h60v686l208-208 42 42L480-80Z"/></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<figure class="hero-featured-img-wrapper text-center">
    <div class="container">
        <img class="main-character img-fluid" src="./../../../assets/img/july2023/article-4-tmb-min.png" alt="">
    </div>
    <div id="section-article"></div>
</figure>

<main class="article-page container entry-article section-spacing-marg-y-top section-spacing-marg-y-bottom">
    <div class="entry-article-text-wrapper">
        <article>
            <h2>Adapting the display to various screen sizes</h2>
            <p>Mobile responsiveness, also known as responsive web design, refers to the ability of a website to adapt and display correctly on various devices with different screen sizes and resolutions.</p>

            <br>

            <h2>Keeping the user-friendliness across device sizes</h2>
            <p>The goal of mobile responsiveness is to ensure that the content and layout of a website remain user-friendly and visually appealing across a wide range of devices, including smartphones, tablets, laptops, and desktop computers.</p>

            <br>

            <figure>
                <a routerLink="/case-studies/transformation-and-realignment-of-a-website-with-corporate-strategy" class="link-img-wrapper">
                    <img class="img-fluid" src="./../../../assets/img/july2023/case-study-1-poster-min.png" alt="">
                </a>
                <figcaption>My work for a life insurance company's corporate website. I'm adapting the content to the user's context, and keep the layout user-friendly regardless on screen size variations.

                    <a class="paragraph-link" routerLink="/case-studies/transformation-and-realignment-of-a-website-with-corporate-strategy">Read case study</a>
                </figcaption>
            </figure>

            <br>

            <h2>Fitting the display to the user context</h2>
            <p>I look at devices from the perspective of what the user wants to achieve, and make consequential adjustments:</p>
            <ol>
                <li><b>Mobile users</b> love to check the content, and scan for key information, therefore the content should be restricted to the strict essential.</li>
                <li><b>Table users</b>  love to immerse themselves in an experience without becoming overly interactive, therefore the content should offer more possibilities while taking care not to overwhelm them.</li>
                <li><b>Desktop users</b> want the full experience, and have space for management, therefore the full content should be reveled to them</li>
            </ol>

            <br>

            <figure>
                <a routerLink="/case-studies/transformation-and-realignment-of-a-website-with-corporate-strategy" class="link-img-wrapper">
                    <img class="img-fluid" src="./../../../assets/img/july2023/case-study-1-stage3-off.png" alt="">
                </a>
                <figcaption>During the design process, I paid careful attention not to overwhelm mobile and tablet users and only disclosed the most essential information (Same project for a life insurance company's corporate website).


                    <a class="paragraph-link" routerLink="/case-studies/transformation-and-realignment-of-a-website-with-corporate-strategy">Read case study</a>
                </figcaption>
            </figure>




            <br>

            <blockquote class="blockquote">
                A good mobile responsive experience adapts the website layout, content and exprience to the user's devices (phone, tablet, and desktop).
            </blockquote>

            <br>
            <br>

            <h2>Mobile responsiveness is excellent for business</h2>
            <p>I improve website speed in 6 powerful steps:</p>
            <ol>
                <li><b>Images Optimization:</b> I make sure images are compressed and resized to reduce their file size without compromising quality.</li>
                <li><b>HTTP Requests Minimization:</b> I reduce the number of elements (e.g., images, scripts, stylesheets) on each page to minimize HTTP requests, and use techniques like <a class="paragraph-link" href="https://www.cloudflare.com/learning/performance/what-is-lazy-loading/" target="_blank">Lazy loading</a> to load only the most necessary elements on the page.</li>
                <li><b>Code Optimization:</b> I use efficient code and follow best practices to improve website performance. I also remove unnecessary characters and whitespace from code files (Minify CSS, JavaScript, and HTML) to reduce their size.</li>
                <li><b>Above-the-Fold Content Prioritization:</b> I make sure the essential parts of a webpage is loaded first, so users see meaningful content quickly.</li>
                <li><b>Browser Caching Enablement:</b> I use caching mechanisms (cookies or local storage) to store static resources on a user's device, reducing the need to fetch them from the server on subsequent visits.</li>
                <li><b>Fast Web Hosting Provider Selection:</b> Hosting providers play a significant role in website speed. I always recommend reputable hosting providers with fast hosting service.</li>
                <!-- <li><b>Use Content Delivery Networks (CDNs):</b> CDNs distribute website content across multiple servers worldwide, delivering it from the nearest server to the user, which can improve load times.</li> -->
                <!-- <li><b>Test and Monitor Performance:</b> Regularly test website speed and performance using tools like Google PageSpeed Insights, Lighthouse, or WebPageTest. Monitor performance metrics and make necessary adjustments.</li> -->
            </ol>

            <br>

            <div class="takeaway">
                <h2>Takeaway</h2>
                <p>In today's highly competitive environment, the speed with which your website loads cannot be left to chance. By ensuring your website loads fast, you are:</p>
                <ul>
                    <li>👍🏾 Increasing the chances of <b>user satisfation</b> and <b>conversion</b></li>
                    <li>👍🏾 Increasing your <b>SEO ranking</b></li>
                    <li>👍🏾 Increasing your <b>Mobile Experience</b></li>
                    <li>👍🏾 Increasing your <b>Competitive Advantage</b></li>
                    <li>👍🏾 Reducing your <b>bouncing rates</b></li>
                </ul>
            </div>   
        </article>

        <section class="entry-article-end text-center">
            <span class="fs-8">Thank you for reading</span>
        </section>


        <section class="entry-article-footer">
            <span class="pill primary pre-title fs-8 rounded-1">Previous article</span>
            <h3>
                <a routerLink="'/blog/6-reasons-why-your-website-loading-speed-matters'">
                    6 reasons why your website loading speed matters
                </a>
            </h3>
        </section>


        <footer>
            <app-box-book-consultation></app-box-book-consultation>
        </footer>
    </div>
</main>