@import './visibilityHelpers';

/**
 * Component's core structure
 * ....................................................
*/

// Global wrapper
.appbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    @include bgColorImp(bright1);
}


// Switch visibility between small and large navigation depending 
// on the container's size (bx-container)
.appbar-container {
    @container (min-width: 1141px) {
        @include smallNav_largeNav('hidden', 'visible');
    }
 
    @container (max-width: 1140px) {
        @include smallNav_largeNav('hidden', 'visible');
    }
 
    @container (max-width: 960px) {
        @include smallNav_largeNav('hidden', 'visible');
    }
 
    @container (max-width: 720px) {
        @include smallNav_largeNav('visible', 'hidden');
    }

    // From zero to small ...
    @container (max-width: 540px) {
        @include smallNav_largeNav('visible', 'hidden');
    }
}
