// Small navigation
.small-nav {
    .logo {
        position: relative;
        left: -16px;
    }

    .menu {
        position: relative;
        left: 28px;
    }

    // the bar ...
    .mat-toolbar {
        @include bgColorImp(primary-200);
    }

    .small__page-indicator {
        display: flex;
        align-items: center;
        @include color(neutral-700);
        position: relative;
        left: -30px;

        span {
            @include typo-titleCaption(none);
        }
    }

    .btn-menu {
        // trigger button
        // hamburger
        @include colorIm(neutral-700);
    }

    .btn-menu[aria-expanded="true"] {
        @include bgColorImp(neutral-250);
    }

    // spacer between logo and trigger button
    .nav-spacer {
        flex: 1 1 auto;
    }
}