/**
 * 
 *
*/

@mixin smallNav_largeNav($smallNavIs, $largeNavIs) {
    .small-nav {
        @if ($smallNavIs=='visible') {
            display: block;
        } @else {
            display: none;
        }
    }
    .large-nav {
        @if ($largeNavIs=='visible') {
            display: flex;
        } @else {
            display: none;
        }
    }
}