/**
 * Style content-block as a box when the container is
 * within a container range (width from 0 to 720px)
**/
@mixin bodyStyling-w720-max() { 
    // Box styling
    @container (max-width: 720px) {
        overflow: hidden;
        background-color: #fff; // bg
        border: 1px solid #555; // border
        @include gobalBorderRadius('medium'); // ...
        @include rem(margin-bottom, 15px);  // bottom spacing
    }

    // Content padding
    @container (max-width: 720px) {
        .content {
            @include rem(padding, 20px);
        }
    }
}






/**
 * Content block structure 
 * --------------------------------------------------------
**/
// Wrapper of every major content block
.content-block, .content-block .content {
    display: block;
}
.content-block {
    @include bodyStyling-w720-max();
}





// .content-block {
//     @container (min-width: 1141px) { 
//     }
 
//     @container (min-width: 961px) and (max-width: 1140px) { 
//     }
 
//     @container (min-width: 721px) and (max-width: 960px) { 
//     }
 
//     @container (min-width: 541px) and (max-width: 720px) {
//     }

//     @container (max-width: 540px) {
//     }
// }