/**
 * Page section structure 
 * --------------------------------------------------------
**/
.introduction {
    @container (min-width: 1141px) { 
        $gap: 60px;
        $col-width: 513px;

        // Set padding ...
        @include rem(padding-left, $gap);
        @include rem(padding-right, $gap);

        // Set the grid as a 1 row and 3 cols ...
        grid-template-columns: $col-width auto $col-width;
    }
 
    // Increase column width
    @container (min-width: 961px) and (max-width: 1140px) { 
        $gap: 50px;
        $col-width: 450px;

        // Set padding ...
        @include rem(padding-left, $gap);
        @include rem(padding-right, $gap);

        // Set the grid as a 1 row and 3 cols ...
        grid-template-columns: $col-width auto $col-width;
    }
    
    // Set column width
    @container (min-width: 721px) and (max-width: 960px) { 
        $gap: 40px;
        $col-width: 390px;

        // Set padding ...
        @include rem(padding-left, $gap);
        @include rem(padding-right, $gap);

        // Set the grid as a 1 row and 3 cols ...
        grid-template-columns: $col-width auto $col-width;
    }

    // By default, establish grid ...
    @container (min-width: 721px) { 
        display: grid;

        // Move UXD on the third column
        .content-text--uxd {
            grid-row: 1;
            grid-column: 3;
        }
    }
}