@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';



@mixin hoverMode() {
    .image-wrapper {
        .on, .off {
            transform: translate3d(-100%, 0, 0);
        }
    }
}



$img-dim: 49px;

.logo {
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
    text-decoration: none;

    &--vertical {
        flex-direction: column;
    }
    &--horizontal {
        flex-direction: row;
    }
}

.logo--horizontal {
    .text-wrapper {
        margin-left: 7px;
    }
}

.logo--vertical {
    .text-wrapper {
        margin-top: 7px;
    }
}

.image-wrapper {
    display: inline-block;
    overflow: hidden;
    width: $img-dim;
    height: $img-dim;
    border-radius: $img-dim;

    .img {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);

        &.off {
            color: map-get($colors, accent1);
        }

        &.on {
            color: map-get($colors, state2);
        }
    }
}

.text-wrapper {
    @include typo-logo();
}

.logo--leda {
    text-transform: uppercase;
    @include setFontFamily('body');
    overflow: hidden;
    line-height: 2;

    &:hover {
        @include hoverMode();
    }
}