@import './../../../assets/styles/mixins';
@import './../../../assets/styles/variables';


$comp-w: map-get($components-size, nice-post-w);

.poster {
    position: relative;
    width: $comp-w;
    
    // Image decoration ...
    .title-wrapper__img {
        width: 302px;
        height: 193px;
        @include gobalBorderRadius();
        background: blue;
    }

    //  Title ...
    .title-wrapper__heading {
        margin-bottom: 0;

        .icon {
            position: relative;
            top: -5px;
            left: 6px;
        }
        
        ::ng-deep app-icon {
            svg {
                // @include color(primary);
                color: orangered;
            }    
        }
    }

    //  Subtitle ...
    .title-wrapper__subtitle {
        // font-weight: 500;
    //    @include color(gray1);
        color: orchid;
    }
}



.text-wrapper {
    position: relative;
    @include rem(margin-top, 20px);
    @include rem(padding-left, 35px);
    z-index: 2;


    a {
        // @include color(primary_dark1);
        color: aqua;
        text-decoration: none;
        &:hover {
            .title-wrapper__heading {
                @include color(state4);
                text-decoration: underline;
                ::ng-deep app-icon {
                    svg {
                        color:chocolate;
                        // @include color(state4);
                    }
                }
            }
        }
    }
}

