<header class="hero page-case-study">
    <div class="container">
        <div class="text-wrapper">
            <h1>
                Stories of successful Web transformations
            </h1>
            <p appFadeInSection>I present some of my best work transforming average websites into 
                <a class="accent" routerLink="/blog/6-reasons-why-your-website-loading-speed-matters">fast</a>, 
                <a class="accent" routerLink="/blog/why-mobile-responsiveness-is-good-for-business">mobile responsive</a>, 
                <a class="accent" routerLink="/blog/why-an-intuitive-experience-helps-a-business-grow">intuitive</a>, 
                <a class="accent" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">engaging</a>, and
                <span class="accent">profitable</span> business tools.</p>
        </div>
    </div>
</header>



<main>
    <app-case-study-row></app-case-study-row>
</main>