.wrapper {
    img {
        width: 113px;
        max-width: 188px;
    }
    .width1 {
        width: 135px;
    }
    .width2 {
        width: 188px;
    }
}

.list-inline-item {
    margin-right: 1.375rem;
    &.is-last {
        margin-right: 0;
    }
}

