
<app-hero
    class="hero"
    title="Lorem ipsum dolor sit amet consectetur adipiscing"
    size="small"
    page="projects"
    [imageType]="heroImgType"
    [image]="heroImg"
></app-hero>





<header class="filter-wrapper">
    <ul class="list-filter list-inline text-center">
        <li class="list-inline-item">
            <a  
                routerLink="/projects" 
                routerLinkActive="link-active" 
                [queryParams]="{ industry: 'all' }"
            >
                <span matBadge="{{totalCount}}" matBadgeOverlap="false">All</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a 
                routerLink="/projects" 
                routerLinkActive="link-active" 
                [queryParams]="{ industry: 'ui-development' }"
            >
                <span matBadge="{{uidCount}}" matBadgeOverlap="false">UI Development</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a 
                routerLink="/projects" 
                routerLinkActive="link-active" 
                [queryParams]="{ industry: 'ux-design' }"
            >
                <span matBadge="{{uxdCount}}" matBadgeOverlap="false">UX Design</span>
            </a>
        </li>
    </ul>
</header>



<app-projects-card-list 
class="page-section" 
listTitle="???[1]"
[source]="projects"
></app-projects-card-list>