
@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';


app-hero {
    display: block;
}

app-hero {
    @include rem(margin-bottom, 60px);
}

/**

    THIS COMPONENT IS NO LONGER NECESSARY
    [TODO]: Delete this coed three months from now (May 2023)
    ----------

    .filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    @include bgColor(accent3);

    .list-filter {
        margin: 0;
    }
}

.list-filter {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;

    li {
        flex: 1;
        height: 100%;
        margin: 0;
        a {    
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            @include color(primary_gray1);

            .mat-badge-content {
                background: map-get($colors, primary_gray1);
            }

            &:hover {
                border-bottom: 3px solid map-get($colors, primary_gray1);
            }

            &.link-active {
                @include color(accent1);
                border-bottom: 3px solid map-get($colors, accent1);

                .mat-badge-content {
                    background: map-get($colors, accent1);
                }
            }
        }
    }

}

*/
