
<app-hero
    title="Lorem ipsum dolor sit amet consectetur adipiscing"
    size="small"
    page="projects"
    image="./../../../assets/img/projects-hero.png"
></app-hero>


<div class="subpage">
    <header class="pagination-wrapper">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="">All</a>
            </li>
            <li class="list-inline-item">
                <a href="">UI Development</a>
            </li>
            <li class="list-inline-item">
                <a href="">UX Design</a>
            </li>
        </ul>
    </header>
</div>


<app-projects-card-list class="page-section" [source$]="projects$"></app-projects-card-list>