<app-hero class="hero" title="High quality work, that serve a purpose, and has a long-lasting impact." page="other"
    [imageType]="heroImgType" [image]="heroImg"></app-hero>



<app-projects-card-list 
    class="" 
    title="Most recent" 
    titleIcon="new"
    info="Best and most recent work in of all categories combined" 
    [source]="projects"></app-projects-card-list>

<app-projects-card-list 
    class="" 
    title="UX Design" 
    titleIcon="uxd"
    info="This includes visual design, user research, information architecture, interaction design and much more" 
    [source]="uxdProjects"></app-projects-card-list>

<app-projects-card-list 
    class="" 
    title="Web Development" 
    titleIcon="dev"
    info="This includes front-end, back-end, single page application, CSS styling, CMS and much more"
    [source]="devProjects"></app-projects-card-list>