@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';

/**
 *  MAIN CONTAINER BREAKPOINTS
 * - .container's width remains fixed until the viewport space allows it to reach the next width
 * ---------
     width 1: 540px 
     width 2: 720px
     width 3: 960px
     width 4: 1140px
*/

// Dimensions
$hero-height-lg: 700px;
$hero-height-sm: 405px;
$hero-bg-lg: 486px;


::host {
    display: block;
}



// [visibility] ....................................................
@layer components.hero {
    .hero {
        
        border: 4px solid turquoise;
       
        @container (min-width: 1116px) {
            border: 4px solid lime;

            &.hero--large { border: 10px solid;
                height: $hero-height-lg;
                .background {
                    top: 100px;
                    height: $hero-bg-lg;
                }
            }
        }
        @container (max-width: 936px) {
            border: 4px solid pink;
            .background {
                height: 100%;
            }
        }
        @container (max-width: 696px) {
            border: 4px solid blue;
            .img { display: none; }
        }
        @container (max-width: 516px) {
            border: 4px solid green;
        }
    }
}
// [visibility] ....................................................






// [styling] ........................................................
@layer components.hero {
    .hero {
        position: relative;
        display: flex;

        .hero__caption {
            @include color(primary_gray2);
            @include typo-titleCaption(uppercase);
        }

        .hero__title, .hero__quote, .hero__cta {
            margin-bottom: 0;
        }
        .hero__quote, .hero__cta {
            @include rem(margin-top, 30px);
        }
        .hero__quote {
            display: block;
        }
    }
    .hero .slide {
        position: relative;
        display: flex;
        width: 100%;
        align-items: baseline;
        z-index: 2;

        // h1,
        // ul {
        //     margin-bottom: 30px;
        // }
        
        @include rem(min-height, 200px);
        @include rem(padding, 50px);
    }
}
// [styling] ........................................................

@layer components.hero {


    .hero {

        .hero__title {
            @include color(primary_gray5);

            &.isQuote {
                &::before {
                    content: '\201C';
                    /* Unicode character for left double quotation mark */
                    @include rem(font-size, 40px);
                    @include color(primary_gray5);
                    margin-right: 5px;
                }

                &::after {
                    content: '\201D';
                    /* Unicode character for right double quotation mark */
                    @include rem(font-size, 40px);
                    @include color(primary_gray5);
                    margin-left: 5px;
                }
            }
        }

    }


    .img {
        position: absolute;
    }

    .hero--large {

        .hero__title {}

        .text-wrapper {
            max-width: 434px;
        }

        .img {
            filter: drop-shadow(20px 11.4887px 33.08px rgba(0, 0, 0, 0.75));
        }

        .img--laptop {
            @include rem(top, 170px);
            @include rem(right, 220px);
            width: 542px;
            height: 347.91px;
        }

        .img--phone {
            top: 0;
            @include rem(right, 100px);
            width: 302px;
            height: 650.24px;
            z-index: 1;
        }
    }

    .hero--small {
        // height: $hero-height-sm;
        overflow: hidden;

        // .text-wrapper {
        //     position: absolute;
        //     @include rem(top, 150px);
        //     width: 100%;
        //     max-width: 600px;
        // }

        // .background {
        //     bottom: 0;
        //     height: 300px;
        // }



        .img--laptop {
            width: 648px;
            top: 30px;
            right: -200px;
        }

        .img--phone {
            width: 329px;
            top: 0;
            right: 0
        }
    }





    .text-wrapper {
        @include rem(left, 50px);
    }


    .background {
        position: absolute;
        left: 0;
        width: 100%;
        display: block;
        @include bgColor(primary);
        @include rem(border-radius, 4px);
        z-index: 0;
    }


    .slide--about {
        .img {
            width: 41.188rem;
        }
    }











    .hero {
        .caption {
            display: block;
        }

        ::ng-deep .caption {

            // border: 2px solid red;
            .title-caption {
                font-weight: 600;
                color: #5A6D5B;
                text-transform: uppercase;
                @include rem(font-size, 15px);


                .mat-badge-content {
                    @include color(accent2);
                    background-color: #5E675E;
                }
            }
        }
    }

    .hero__quote {
        ::ng-deep header {
            border-left: 1px solid map-get($colors, primary_gray3);

            a {
                @include color(primary_gray3);

                .title-wrapper__heading {
                    @include color(primary_gray3);
                }

                &:hover {
                    @include color(state3);

                    .title-wrapper__heading {
                        @include color(state3);
                    }

                    svg {
                        @include color(state3);
                    }
                }
            }

            .title-wrapper__subtitle,
            svg {
                @include color(primary_gray3);
            }
        }
    }

}

// components.hero