@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';



.carousel {
    position: relative;
    display: flex;

    .title {
        color: map-get($colors, primary_shade1);
    }
}

.carousel--large {
    height: 700px;

    .title {

    }
    .text-wrapper {
        max-width: 400px;
    }
    .background {
        top: 100px;
        height: 486px;
    }
}

.carousel--small {
    height: 405px;
    overflow: hidden;

    .text-wrapper {
        position: absolute;
        @include rem(top, 150px);
        width: 100%;
        max-width: 600px;
    }
    .background {
        bottom: 0;
        height: 300px;
    }



    .img--laptop {
        position: absolute;
        width: 648px;
        top: 30px;
        right: -200px;
    }
    .img--phone {
        position: absolute;
        width: 329px;
        top: 0;
        right: 0
    }
}

.testimonial {
    ::ng-deep p {
        color: map-get($colors, primary_shade1);
    }
}



.text-wrapper {
    @include rem(left, 50px);
}


.background {
    position: absolute;
    left: 0;
    width: 100%;
    display: block;
    background-color: map-get($colors, primary);
    z-index: 0;
}


.slide {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 2;

    h1, ul {
        margin-bottom: 30px;
    }

    .img {
        display: block;
        margin-top: auto;
        margin-left: auto;
        // max-width: 400px;
    }
}


.slide1 {
    img {
        margin-right: 130px;
    }
}


.slide--home-slide1 {
    img {
        width: 25em;
    }
}


.slide--about {
    .img {
        width: 41.188rem;
    }
}











.hero {
    .caption {
        display: block;
    }
    ::ng-deep .caption {
        // border: 2px solid red;
        .subtitle--category {
            font-weight: 600;
            color: #5A6D5B;
            text-transform: uppercase;
            @include rem(font-size, 15px);
    
    
            .mat-badge-content {
                color: map-get($colors, accent2);
                background-color: #5E675E;
            }
        }
    }

}
