<div class="bx-container">
    <section class="hero" [ngClass]="parentClassSetup()">
        <div class="text-wrapper">
            <div *ngIf="titleCaption" class="hero__caption">
                {{titleCaption}}
            </div>
            <!-- <span class="titleCaption text-uppercase">{{titleCaption}}</span> -->
            <h1 [ngClass]="quoteClass()" class="hero__title">{{title}}</h1>


            <app-quote *ngIf="quote" class="hero__quote" [quote]="quote"></app-quote>

            <!--
                    TODO: THIS SECTION SHOULD BE COMING FROM OUTSIDE
                    ----------------------------
                -->
            <div *ngIf="page=='home'" class="hero__cta">
                <a class="button-primary button-primary--large" routerLink="/projects">
                    Latest work
                    <app-icon class="icon" name="arrowRight"></app-icon>
                </a>
            </div>
            <!-- ---------------------------- -->
        </div>

        <div>
            <div *ngIf="page=='about'" class="circle"></div>
            <img *ngIf="page=='about' || page=='other'" [ngClass]="imgClass(imageType)" class="img" src={{image}} alt="">
        </div>

        <div *ngIf="page=='home'">
            <img class="img img--phone" src="./../../../assets/img/project-25-hero.png" alt="">
            <img class="img img--laptop" src="./../../../assets/img/project-26-hero.png" alt="">
        </div>
    </section>
</div>