@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';
@import './../../../assets/styles/_mixin-styles';



@layer page {
    @layer about {
        @layer mentors {
            @import './styles/am-core';
        }
    }
}




@layer page {
    @layer about {
        @layer mentors {

            // Poster frame ...
            .posters-wrapper {
                $grid-w: 644px;
                $poster-w: 300px;
                // ...
                border: 4px solid purple;
                display: grid;
                grid-template-columns: $poster-w auto $poster-w;
                width: $grid-w;


                .poster-2 {
                    grid-row: 1;
                    grid-column: 3;
                }
            }


            // pagination ...
            .component-pagination {
                position: absolute;
                right: 0;
                @include bgColor(primary_gray1);
                height: 45px;
                width: 95px;
            }
        }
    }
}