@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';


@layer page {
    @layer about {
        @layer mentors {
            .component-wrapper {
                @include rem(padding, 20px);
                @include bgColor(primary_dark3);
            }
            .title-caption {
                color: turquoise;
            }
            .component-title {
                color: rgb(49, 168, 103);
            }
            p {
                color: rgb(106, 182, 20);
            }

            .mentors__quote::ng-deep {
                .title-wrapper__heading,
                .title-wrapper__subtitle {
                    color: rgb(182, 20, 179)!important;
                }
            }
        }
    }
}
