@import './../../../assets/styles/mixins';

.img-w1 {
    @include rem(width, 92.58px);
}

.list-t1 {
    display: flex;
    align-items: start;
    list-style: none;
    padding-left: 0;
    li {
        @include rem(margin-right, 15px);
    }
}



.xxx111 {
    display: flex;
    @include rem(gap, 60px);
    .yyy {
        max-width: 374px;
    }
    .vdsvs {
        display: flex;
        width: 100%;
        max-width: 700px;
        min-height: 510px;
    }
    .bg-grid {
        background: #AFD6C9 url(./../../../assets/img/bg1.png) repeat;
        background-size: cover;
    }

    .vertical-list {

        flex-direction: column;
        .item {
            @include rem(margin-bottom, 40px);
        }
    }
}