@import './../../../assets/styles/mixins';


.img-w1 {
    @include rem(width, 92.58px);
}

.list-t1 {
    display: flex;
    align-items: start;
    list-style: none;
    padding-left: 0;
    li {
        @include rem(margin-right, 15px);
    }
}


$xl: map-get($breakpoints, screen-xl);
$md: map-get($breakpoints, screen-md);

.mobile-hidden {
    @include before-to($md) {
        display: none;
    }
}


.bx-container {
    container-type: inline-size;
}


.introduction {
    display: grid;
    grid-template-columns: auto auto;
    @include rem(gap, 90px);
    @include respond-to($xl) {
        @include rem(gap, 120px);
    }
   
}



.highlights {
    p {
        @include rem(margin-bottom, 30px);
    }
}



.xxx111 {
    display: flex;
    @include rem(gap, 60px);
    .yyy {
        max-width: 380px;
    }
    .vdsvs {
        display: flex;
        width: 100%;
        max-width: 700px;
        justify-content: end;
        @include rem(gap, 30px);
    }

    .mentors__quote {
        display: block;
        @include rem(margin-top, 40px);

        ::ng-deep {
            .title-wrapper {
                border-left: 1px solid map-get($colors, state3);
            }
            .title-wrapper__heading,
            .title-wrapper__subtitle {
                font-family: 'Maitree', serif;
                @include color(state3);

                // quotes ...
                &::before {
                    @include color(state3);
                }
                &::after {
                    @include color(state3);
                }
            }
            .title-wrapper__heading {
                @include rem(margin-bottom, 10px);
            }
        }
    }

    .vertical-list {
        flex-direction: column;
    }
}

.mentors {
    .title-caption { 
        @include color(primary_gray2);
    }
    @include color(primary_gray4);
    background-color: map-get($colors , primary);
}