@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';

.subtitle--category {
    // @include rem(font-size, 13.5px);
    &.hasBadge {
        margin-right: 20px;
    }

    .mat-badge-content {
        color: map-get($colors, gray1);
        font-weight: 500;
        background-color: #D3DAD3;
    }
}
.subtitle--releaseDate {
    @include rem(font-size, 15px);
}