@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';

.title-caption {
    display: flex;
    align-items: center;
    @include rem(gap, 5px);
    @include rem(border-radius, 10px);

    // .mat-badge-content {
    //     @include color(gray1);
    //     font-weight: 500;
    // }

    &.hasInfo {
        font-weight: 600;
    }
}
.title-caption--releaseDate {
    @include rem(font-size, 15px);
}

.icon ::ng-deep svg {
    @include rem(border-radius, 100px);
    border: 3px solid transparent;
    @include rem(width, 23px);
}