@import './../../../assets/styles/mixins';



.testimonial {
    width: 100%;
    max-width: 800px;
    @include rem(padding, 45px);
    background-color: map-get($colors, accent4_white);


    ::ng-deep app-icon {
        svg {
            color: map-get($colors, primary);
        }
    }
}

.title-wrapper {
    display: flex;
    align-items: center;
    @include rem(gap, 12px);
}
.title-wrapper__img {
    @include rem(width, 60px);
    height: inherit;
}

.title-wrapper + p {
    @include rem(margin-top, 20px);
    color: map-get($colors, gray1);
}


.title-wrapper__heading {
    @include typo-h5();
    margin-bottom: 0;

    a {
        color: map-get($colors, primary_dark1);
        text-decoration: none;
        &:hover {
            color: map-get($colors, state4);
            text-decoration: underline;

            ::ng-deep app-icon {
                svg {
                    color: map-get($colors, state4);
                }
            }
        }
    }

    .icon {
        position: relative;
        top: -5px;
        left: 6px;
    }
}

.title-wrapper__subtitle {
    color: map-get($colors, gray0);
    font-weight: 500;
}