<div class="testimonial">
    <header class="header">
        <img src={{testimonial.img}} alt="">
        <div class="intro">
            <h5 class="heading">
                {{testimonial.name}}
                <a class="icon" href="" target="_blank">
                    <app-icon name="linkedin"></app-icon>
                </a>
            </h5>
            <div class="subtitle">
                {{testimonial.title}}
            </div>
        </div>
    </header>


    <p>{{testimonial.text}}</p>
</div>


