
body {
    font-family: var(--enjanga-font-family-body);
    color: var(--enjanga-clr-txt-neutral-500);
    background-color: var(--enjanga-clr-body-bg);
    font-weight: 400;
}

ul {
    margin-bottom: 0;
}