<app-hero
    class="hero"
    [title]="project.descriptions.title"
    [titleCaption]="project.categories[0].title"
    size="small"
    page="projects"
    [imageType]="project.images.type"
    [image]="project.images.hero"
></app-hero>


<section class="main-wrapper d-flex">
    <div class="block-left">
        <div class="references">

        </div>
        <div class="description">
            <h3>Context</h3>
            <p>{{project.descriptions.context}}</p>

            <h3>Contribution</h3>
            <p>{{project.descriptions.contribution}}</p>

            <h3>constraints</h3>
            <p>{{project.descriptions.constraints}}</p>
        </div>
    </div>
    <div class="block-right">
        <img class="body" [src]="project.images.body" alt="">
    </div>
</section>

<section class="footer-cta text-center">
    <h2>Not yet live</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.</p>

    <ul class="links">

    </ul>
</section>



<!-- 
id: number;
name: string;
pageUrl: string;
url: string;
title: string; 
shortDescription: string;
thumbnail: string;
createdAt: string;
categories: Category[];
subcategories: Category;
status: projectStatus;
liveUrl: string; -->