<section class="row row-cols-2">
    <div class="box-wrapper one">
        <div class="box box1">
            <img src="./../../../assets/img/img-ide.png" alt="">
        </div>
    </div>
    <div class="box-wrapper two">
        <div class="box box2">
            <img src="./../../../assets/img/img-slide1.png" alt="">
        </div>
    </div>
    <div class="text-wrapper one">
        <h3>Development of user interfaces</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. </p>
        <ul>
            <li>Wireframes</li>
            <li>User flows</li>
            <li>Interactive prototypes</li>
        </ul>

        <app-call-to-action></app-call-to-action>
    </div>
    <div class="text-wrapper two">
        <h3>Design of concepts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. </p>
        <ul>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>

        <app-call-to-action></app-call-to-action>
    </div>
</section>