@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';

.box-wrapper {
    margin-bottom: 25px;
}
.box-wrapper.one {
    padding-right: 0;
}
.box-wrapper.two,
.text-wrapper.two {
    padding-left: 0;
}
.text-wrapper {
    padding-right: 150px;
}

.cta-button {
    display: block;
}