<section class="row row-cols-2">
    <div class="box-wrapper one">
        <app-box-presentation
            bg="one"
            buttonLink="/projects"
            category="ui-development"
            buttonLabel="{{uidCount}}"
            imgSrc="./../../../assets/img/img-ide.png"
        >
        </app-box-presentation>
    </div>
    <div class="box-wrapper two">
        <app-box-presentation
            bg="two"
            buttonLink="/projects"
            category="ux-design"
            buttonLabel="{{uxdCount}}"
            imgSrc="./../../../assets/img/project-25-slide2.png"
        >
        </app-box-presentation>
    </div>







    <div class="text-wrapper one">
        <h3>Development of user interfaces</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. </p>
        <ul class="list-align-bullets-with-left-edge">
            <li>Deep code customization</li>
            <li>Smart and scalable code</li>
            <li>...</li>
        </ul>

        <app-call-to-action 
        class="cta-button" 
        link="/projects" 
        label="See latest work" 
        status="button">See latest work</app-call-to-action>

    </div>
    <div class="text-wrapper two">
        <h3>Design of concepts</h3>
        <p>(Proof of concepts)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. </p>
        <ul class="list-align-bullets-with-left-edge">
            <li>Wireframes</li>
            <li>User flows</li>
            <li>Interactive prototypes</li>
        </ul>

        <app-call-to-action 
        class="cta-button" 
        link="/projects" 
        label="See latest work" 
        status="button">See latest work</app-call-to-action>

    </div>
</section>