<header class="hero pb-0">
    <div class="container">
        <div class="row">
            <div class="text-wrapper">
                <div class="col">
                    <h1>{{article?.title}}</h1>
                </div>
                <div class="col">
                    <button class="btn-scrollToSection btn-hero" (click)="scrollToSection()">
                        Read now
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 -960 960 960" width="25"><path d="M480-80 200-360l42-42 208 208v-686h60v686l208-208 42 42L480-80Z"/></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<figure class="hero-featured-img-wrapper text-center">
    <div class="container">
        <img class="main-character img-fluid" [src]="article?.img" alt="">
    </div>
    <div id="section-article"></div>
</figure>

<main class="article-page container entry-article section-spacing-marg-y-top section-spacing-marg-y-bottom">
    <div class="entry-article-text-wrapper">
        <article>
            <h2>Images capture users’ attention and add visual appeal to the website</h2>
            <p>Images are a crucial component of the website’s user experience. Being part of the visual content, they enhance the overall user experience in several ways:</p>
            

            
            
            
            <ul>
                <li><b>Attention and <a class="paragraph-link" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">Engagement</a>:</b> Images capture users' attention quickly and can convey information more efficiently than text alone. High-quality and relevant images can draw users into the content and keep them engaged with the website.</li>
                <li><b>Emotional and Aesthetic Appeal:</b> Well-chosen images can add to the visual appeal of a website, making it more aesthetically pleasing. They also have the power to evoke emotions and feelings in users. Choosing images that resonate with the target audience can create a positive emotional connection, encouraging users to stay longer and return to the website.</li>
                <li><b>Communication and Storytelling:</b> Images can tell a story or convey complex messages in a simple and <a class="paragraph-link" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">engaging</a> way. They can complement the text by providing visual context and emotional connections, making the content more memorable.</li>
            </ul>

            <br>

            <figure>
                <img class="img-fluid" src="./../../../assets/img/August2023/article7-20348978-Koorshi-Interior-Landing-Page.png" alt="Koorshi - Interior Landing Page on Dribbble">
                <figcaption>
                    Example of good image usage: Koorshi - Interior Landing Page 
                    <a href="https://dribbble.com/shots/20348978-Koorshi-Interior-Landing-Page" class="paragraph-link" target="_blank">(https://dribbble.com/shots/20348978-Koorshi-Interior-Landing-Page)</a>
                </figcaption>
            </figure>

            <br><br>

            <h2>Stock images are cost-effective, time-saving, and in wide variety</h2>
            <p>Stock images are pre-existing photographs, illustrations, or vectors that are available for licensing for various purposes. Using stock images can offer several advantages when it comes to creating <a class="paragraph-link" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">user engagement</a> on a website:</p>

            <ul>
                <li><b>Cost-Effective:</b> Stock images are readily available for purchase or free download, making them a cost-effective option compared to commissioning custom photography or illustrations.</li>
                <li><b>Time-Saving:</b> Finding and using stock images can save a considerable amount of time, especially when you need visual content quickly. They eliminate the need for photoshoots or graphic design work, allowing you to focus on other aspects of website development.</li>
                <li><b>Wide Variety:</b> Stock image libraries offer a vast selection of images covering various themes, styles, and subjects. This diversity allows you to find images that precisely match your website's content and target audience, enhancing user relevance and <a class="paragraph-link" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">engagement</a>.</li>
            </ul>

            <br>

            <blockquote class="blockquote">
                <b>WORD OF CAUTION:</b> Stock images can diminish a website's credibility if they are used improperly or excessively. While they can be a valuable resource for website design and content, using stock images inappropriately can give your website a generic, unauthentic, and unprofessional appearance, which can negatively impact your credibility.
            </blockquote>

            <br>

            <figure>
                <img class="img-fluid" src="./../../../assets/img/August2023/article7-stock-image-platform-2.png" alt="Stock of photos describing the country of Niger in Africa">
                <figcaption>
                    Example of a stock of photos describing the country of Niger in Africa 
                    <a href="https://www.istockphoto.com/" class="paragraph-link" target="_blank">(https://www.istockphoto.com/)</a>
                </figcaption>
            </figure>

            <br><br><br>

            <h2>Using your own images brings more credibility, authenticity, and trust</h2>
            <p>Stock images aren’t the only solution. Using your own images can offer several advantages when it comes to creating <a class="paragraph-link" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">user engagement</a> on your website:</p>
            <ul>
                <li><b>Credibility and Trust:</b> Original images can enhance your website's credibility, as they demonstrate that your business is real and actively engaged in providing products or services. This can be particularly important for building trust with potential customers.</li>
                <li><b>Authenticity and Uniqueness:</b> Your own images provide a genuine and unique representation of your brand, products, or services. This authenticity can help establish a stronger emotional connection with users, as they see real people, products, or locations associated with your business.</li>
                <li><b>Brand Identity and Storytelling:</b> Custom images allow you to showcase your brand's personality, values, and style more effectively. Your own images can tell a more personalized and compelling story about your business or the people behind it.</li>
                <li><b>Local Relevance and Search Engine Optimization (SEO):</b> If your business has a physical location, using images of your premises, staff, or local events can enhance the sense of local relevance and <a class="paragraph-link" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">community engagement</a>. Also, Search engines often favor unique and relevant visual content, and original images can increase the chances of your site ranking higher in image searches.</li>
            </ul>

            <br>

            <figure>
                <img class="img-fluid" src="./../../../assets/img/july2023/articel-1-hero-desktop-min.jpeg" alt="My portrait picture on the hero section of my website">
                <figcaption>
                    I’m using my own image on several parts of my website to establish authenticity and credibility.
                </figcaption>
            </figure>

            <br>

            <blockquote class="blockquote">
                <b>CONSIDER A MIX OF STOCK AND ORIGINALS:</b> While using your own images can be advantageous, it's essential to maintain a balance and avoid low-quality or irrelevant visuals. If you lack the resources or expertise to create high-quality images, consider a mix of original and carefully selected stock images to <a class="paragraph-link" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">create an engaging</a> and visually appealing website.
            </blockquote>


            <br><br>
            
            <h2>Your website can still be effective without images</h2>
            <p>Planning for long-term maintenance is essential. In case you don’t have the necessary resource and budget to continuously maintain the flow and quality of images on your website, you can consider a <b>“image-free” solution</b>.</p>
            <p>A website can still be engaging and intuitive without the use of images. While visuals can enhance the overall user experience and appeal, engaging and intuitive web design relies on various other elements and strategies. Here are some ways to create an <a class="paragraph-link" routerLink="/blog/an-engaging-website-is-good-for-business-here-is-why">engaging</a> and intuitive website without relying heavily on images:</p>
            
            <ul>
                <li><b>Compelling Typography:</b> Use attractive fonts, sizes, and styles to make your text visually appealing and easy to read.</li>
                <li><b>Clear and Intuitive Navigation:</b> Focus on creating a user-friendly navigation system that allows visitors to find information easily. Use clear headings, menus, and links to guide users through the site.</li>
                <li><b>Well-Structured Content:</b> Organize your content using headings, subheadings, bullet points, and paragraphs to make it easy for users to scan and comprehend.</li>
                <li><b>Engaging Copywriting:</b> Craft compelling and relevant content that captures the audience's attention, addresses their pain points, and communicates your value proposition effectively.</li>
            </ul>

            <br>

            <figure>
                <img class="img-fluid" src="./../../../assets/img/August2023/article7-case-study-2.png" alt="An example of an image-free layout">
                <figcaption>
                    I've created this "image-free" layout to help a client create and list new events without the need of using images <a class="paragraph-link" target="_blank" href="https://stilettosandhammers.com/">(stilettosandhammers)</a>
                </figcaption>
            </figure>

            <br>

            <blockquote class="blockquote">
                <b>CAUTION:</b> The use of images in a website must be framed by a strategy that favors elementary rules of user experience and engagement.
            </blockquote>

            <br><br>



            <h2>Takeaway</h2>
            <p>Images are a crucial component of the website’s user experience, but their use must be framed by good user experience practices. There are several image options:</p>
            <ul>
                <li><b>Stock images:</b> Pre-existing photographs, illustrations, or vectors that are available for licensing for various purposes. They are cost-Effective, time-Saving, and in a wide variety, but can diminish a website's credibility if they are used improperly or excessively.</li>
                <li><b>Original images:</b> Using your own images on the site creates more authenticity, fosters trust, and solidifies your brand identity (which is hard to achieve only with stock images)</li>
                <li><b>No images at all:</b> It’s possible to create engagement without images. For this, your website will need compelling Typography, Clear and Intuitive Navigation, and a well-structured content</li>
            </ul>

            <br>

            <blockquote class="blockquote">
                <b>CAUTION:</b> Don’t forget to optimize your images for improved page loading speed. A good 
                <a class="paragraph-link" routerLink="/blog/6-reasons-why-your-website-loading-speed-matters">loading speed</a> is an essential part of a good web user experience.
            </blockquote>


            <br>

            <h2>Question for you</h2>
            <ul>
                <li>Are you using stocks or original images on your site?</li>
                <li>Are you satisfied with the experience on your website?</li>
                <li>Do you have any questions or need help? <a class="paragraph-link" target="_blank" href="https://calendly.com/enjanga/15min">Book a consultation with me</a></li>
            </ul>


        </article>

        <section class="entry-article-end text-center">
            <span class="fs-8">Thank you for reading</span>
        </section>

        <app-article-carousel 
            [current]="article"
            class="entry-article-footer"></app-article-carousel>


        <footer>
            <app-box-book-consultation></app-box-book-consultation>
        </footer>
    </div>
</main>