<nav class="bar">
    <div class="container d-flex align-items-center">
        <app-logo direction="horizontal"></app-logo>
        <ul class="menu list-inline">
            <li  class="list-inline-item text-uppercase">
                <app-call-to-action link="/home" label="Home" status="Nav link">Home</app-call-to-action>
            </li>
            <li  class="list-inline-item text-uppercase">
                <app-call-to-action link="/about" label="About" status="Nav link">About</app-call-to-action>
            </li>
            <li  class="list-inline-item text-uppercase">
                <app-call-to-action-params 
                    link="/projects" 
                    label="Projects"
                    status="Nav link"
                    qParam="all"
                >
                    Projects
                </app-call-to-action-params>
            </li>
        </ul>
    </div>
</nav>