<nav class="bar">
    <div class="container d-flex align-items-center">
        <app-logo direction="horizontal"></app-logo>
        <!-- <a href="/" class="text-uppercase">Eric Njanga</a> -->
        <ul class="menu list-inline">
            <li  class="list-inline-item text-uppercase">
                <app-call-to-action link="/home" label="Home" status="Nav link">Home</app-call-to-action>
                <!-- <a routerLink="/" routerLinkActive="menu-item-active">Home</a> -->
            </li>
            <li  class="list-inline-item text-uppercase">
                <app-call-to-action link="/about" label="About" status="Nav link">About</app-call-to-action>
                <!-- <a routerLink="/about" routerLinkActive="menu-item-active">About</a> -->
            </li>
            <li  class="list-inline-item text-uppercase">
                <app-call-to-action link="/portfolio" label="Portfolio" status="Nav link">Portfolio</app-call-to-action>
                <!-- <a routerLink="/portfolio" routerLinkActive="menu-item-active">Portfolio</a> -->
            </li>
            <!-- <li  class="list-inline-item text-uppercase" *ngFor="let item of categories; ">
                <a routerLink="/{{item.hash}}" routerLinkActive="menu-item-active">{{item.label}}</a>
            </li>
            <li  class="list-inline-item">
                <button class="btn-info" mat-button [matMenuTriggerFor]="staticPagesMenu">
                    Static pages
                </button>
                <mat-menu #staticPagesMenu="matMenu">
                    <a routerLink="/static-richy-group" mat-menu-item>Richy group</a>
                </mat-menu>
            </li>
            <li  class="list-inline-item">
                <button class="btn-info" mat-button [matMenuTriggerFor]="menu">
                    <app-icon class="icon" name="info"></app-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <a routerLink="/about" mat-menu-item>About</a>
                    <a href="mailto:npdd@gmail.com" mat-menu-item>npdd@gmail.com</a>
                </mat-menu>
            </li> -->
        </ul>
    </div>
</nav>
