@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';

a {
    text-decoration: none;
    font-weight: 600;
    color: map-get($colors, dark1);
}

.bar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: map-get($gap, appBar);

    @include set-app-background-color();
    z-index: 3;
}

.btn-info {
    border-width: 0;
    background-color: transparent;
}

.menu {
    margin-left: auto;

    li:not(:last-child) {
        margin-right: 150px;
    }

    .menu-item-active {
        text-decoration: underline;
        color: map-get($colors, state2);
    }
    a:hover {
        color: map-get($colors, state1);
        text-decoration: underline;
    }
    a, button {
        padding: 20px;
    }
}
.menu.list-inline {
    margin-bottom: 0;
}

button[aria-expanded="true"] {
    background-color: map-get($colors, gray1);
    border-radius: map-get($border, radius);

    // ::ng-deep .bi {
    //     color: map-get($colors, primary1);
    // }
}