
.section-spacing-padd-y-top {
    padding-top: var(--enjanga-section-spacing-y);
}
.section-spacing-padd-y-bottom {
    padding-bottom: var(--enjanga-section-spacing-y);
}
.section-spacing-marg-y-top {
    margin-top: var(--enjanga-section-spacing-y);
}
.section-spacing-marg-y-bottom {
    margin-bottom: var(--enjanga-section-spacing-y);
}

.section-spacing-padd-y-top,
.section-spacing-padd-y-bottom,
.section-spacing-marg-y-top,
.section-spacing-marg-y-bottom {
    @media (min-width: 1400px) {
        --enjanga-section-spacing-y: 120px;
    }
    @media (min-width: 1200px) and (max-width: (1400px - 1)) {
        --enjanga-section-spacing-y: 105px;
    }
    @media (min-width: 992px) and (max-width: (1200px - 1)) {
        --enjanga-section-spacing-y: 85px;
    }
    @media (min-width: 768px) and (max-width: (992px - 1)) {
        --enjanga-section-spacing-y: 70px;
    }
    // @media (min-width: 576px) and (max-width: (768px - 1)) {
    // }
}