

@layer case-study-row {
    .link-txt-wrapper,
    .link-img-wrapper img {
        transition: all 0.3s;
    }

    .link-txt-wrapper {
        text-decoration: none;
        color: var(--enjanga-clr-case-study-row-title);

        &:hover {
            color: var(--enjanga-clr-case-study-row-title-hover);
            text-decoration: underline;
        }
    }

    .link-img-wrapper {
        &.bg-light-accent {
            &:hover img {
                background: var(--enjanga-clr-case-study-row-img-accent-bg);
            }
        }
        &:not(.bg-light-accent) {
            &:hover img {
                background-color: var(--enjanga-clr-case-study-row-img-bg);
            }
        }
    }
}



@layer case-study-row {
    .case-study-row {
        .img-stage {
            // background: red;
            margin: 0;
            padding: 20px;
            border-radius: 5px;
        }
    }
}

@layer case-study-row {
    .case-study-row {
        .col-a {
            margin-bottom: 30px;
            @media (min-width: 992px) {
                margin-bottom: 0;
            }
        }
        .col-b {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn {
                width: max-content;
            }

            .block-title,
            .block-p {
                margin-bottom: 20px;
            }

            @media (min-width: 1200px) {
                margin-left: 40px;
                max-width: 40ch;

            }

            @media (min-width: 768px) and (max-width: (1200px - 1)) {
                margin-left: 20px;
                max-width: 40ch;
            }
        }
    }
}
