<section class="frame"> <!--  box-acccent box-acccent1 -->
    <div class="text">
        <h5 class="title-caption">excellence</h5>
        <h2>Planning and execution</h2>

        <h3>Idea analysis</h3>
        <p>Eric evaluates and refines ideas to determine their feasibility, relevance, and potential impact on the user
            experience (user needs, business objectives, feasibility, impact and prioritization).</p>


        <h3>Concept design</h3>
        <p>Eric explores and creates high-level design concepts to visualize and communicate design ideas to
            stakeholders and team members before moving to the more detailed design stages.</p>

        <h3>High-fidelity implementation</h3>
        <p>Eric converts design concepts into a fully functional and visually appealing interfaces. He uses design files
            (Sketch, Figma, or Adobe XD), to create pixel-perfect UI elements, incorporating animations and
            interactions, and ensuring that the final product meets the design requirements.</p>
    </div>

    <img src="./../../../assets/img/project-26-hero.png" alt="">
</section>