



@layer home {
    h2, h3 {
        color: var(--enjanga-clr-small-block-title);
    }

    p {
        color: var(--enjanga-clr-small-block-p);
    }
}


@layer home {
    // .mission-section header,
    .mission-section__container {
        margin-left: auto;
        margin-right: auto;
    }

    .mission-section__container {
        max-width: var(--enjanga-section-max-width);
        display: var(--enjanga-mission-section-display);
        grid-row-gap: var(--enjanga-mission-section-row-gap);
        grid-column-gap: var(--enjanga-mission-section-column-gap);
        grid-template-columns: var(--enjanga-mission-section-template-columns);

        @media (max-width: 1200px) {
            --enjanga-mission-section-column-gap: 60px;
        }
        @media (min-width: 992px) {
            --enjanga-mission-section-column-gap: 40px;
        }
        @media (min-width: 768px) { //} and (max-width: (992px - 1)) {
            --enjanga-mission-section-template-columns: 1fr 1fr;
            // border: 10px solid lime;
        }

        .icon-box {
            margin-bottom: 10px;
        }

        .col {
            p {
                margin-bottom: 0;
            }
            @media (min-width: 1200px) {
                // border: 10px solid blue;
                display: grid;
                grid-template-columns: auto 1fr;
                grid-column-gap: 20px;
                /* // ... */
            }
        }

    }
}




@layer home {
    .hero {
        .text-wrapper {
            // margin: 0 var(--enjanga-hero-txtWrapMargW);
            // max-width: var(--enjanga-hero-txtWrapMaxW);
        }
     
        .main-character {
            display: var(--enjanga-hero-main-character-dislay);
        }
        .ellipse {
            display: var(--enjanga-hero-ellipse-dislay);
        }
    }
}

@layer home {
    @layer logos {
        .logos-grid {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            opacity: 0.5;

            .img-fluid {
                width: inherit;
            }
        }

        .logos-grid{
            @media (min-width: 1400px) {
                img { height: 59px; }
            }
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                img { height: 50px; }
                img { // display everything
                    display: block
                }
            }
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                img { height: 40px; }
                img:nth-child(n+8) { // first 7
                    display: none;
                }
            }
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                img { height: 40px; }
                img:nth-child(n+7) { // first 6
                    display: none;
                }
            }
            @media (min-width: 576px) and (max-width: (768px - 1)) { 
                img { height: 30px; }
                img:nth-child(n+6) { // first 5
                    display: none;
                }
            }
            @media (max-width: (576px - 1)) { 
                img { height: 30px; }
                img:nth-child(n+5) { // first 4
                    display: none;
                }
            }
        }
    }
}
