<header class="hero page-home pb-0">
    <div class="container">
        <div class="text-wrapper">
            <h1>
                I will transform your website’s experience to drive growth
            </h1>

            <p appFadeInSection>
                I enhance the overall user experience of your website to make it seamless, intuitive, and engaging. I improve page load times, simplify navigation, make content easily accessible, and ensure mobile responsiveness.
            </p>

            <footer>
                <a target="_blank" href="https://calendly.com/enjanga/15min" class="btn btn-primary">Book a meeting</a>
                <a href="/case-studies/transformation-and-realignment-of-a-website-with-corporate-strategy" class="btn btn-secondary">Latest case study</a>
            </footer>
        </div>

        <div class="hero-img-wrapper" appFadeInSection>
            <img class="main-character img-fluid" src="./../../../assets/img/july2023/Eric Njanga - poster.png" alt="">
            <img class="ellipse img-fluid" src="./../../../assets/img/july2023/Ellipse.png" alt="">
        </div>
    </div>
</header>





<main class="container latest-case-study">
    <section class="section-spacing-marg-y-top section-spacing-marg-y-bottom">
        <div class="small-centered-block">
            <h2>Latest case study</h2>
            <p>How I have revived a corporate website and realigned the browsing experience with business strategy and customers’ expectations.</p>
            <a routerLink="/case-studies/transformation-and-realignment-of-a-website-with-corporate-strategy"
                class="btn btn-secondary">Learn more</a>
        </div>

        <div appFadeInSection>
            <img class="img-fluid cta-image" src="./../../../assets/img/july2023/case-study-1.png" alt="">
        </div>
        
    </section>


    <section class="section-wrapper bg-accent rounded-3 text-center section-spacing-marg-y-bottom">
        <div class="small-centered-block">
            <img class="img-fluid image-accent" src="./../../../assets/img/july2023/Eric Njanga - v2.png" alt="">
            <div appFadeInSection>
                <h3 class="accent-title">No cookie cutters</h3>
                <p class="accent-paragraph">“I research and test the solution on paper, then I’m creating a prototype to visualize the solution before finalizing the details”.</p>
            </div>
        </div>
    </section>




</main>