
@layer home {
    .hero {
        .text-wrapper {
            // margin: 0 var(--enjanga-hero-txtWrapMargW);
            max-width: var(--enjanga-hero-txtWrapMaxW);
        }
     
        .main-character {
            display: var(--enjanga-hero-main-character-dislay);
        }
        .ellipse {
            display: var(--enjanga-hero-ellipse-dislay);
        }
    }
}
