
<section class="row row-cols-3">
    <div class="card-wrapper" *ngFor="let item of source;">
        <article class="card">

            <a class="thumbnail-wrap" [routerLink]="projectUrl(item)">

                <img 
                    class="thumbnail"
                    [ngClass]="getThumbnailClass(item.images)"
                    [src]="getHeroImg(item.images)"
                    alt=""
                >

                

                <div class="img-frame">
                    <div class="text-wrapper">
                        <div class="subtitle">
                            <app-title-caption class="caption" [items]="item.categories"></app-title-caption>
                            <span>|</span>
                            <span class="subtitle--releaseDate">{{getEndDate(item.references) | date:'MMM, YYYY'}}</span>
                        </div>
                        <h4 class="title">{{item.descriptions.title | textTim:40 }}</h4>
                    </div>
                </div>
            </a>
        </article>
    </div>
</section>

<!-- [style.background-image]="getHeroImg(item.images)" -->