@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';

$card-height: 450px;
$card-padding: 46px;

.card {
    position: relative;
    min-height: $card-height;
    z-index: 1;
    margin-bottom: 100px;
    background-color: map-get($colors, accent4_white);
    border-width: 0px;

    .icon {
        position: absolute;
        top: 36px;
        right: 36px;
        z-index: 1;
    }

    a.thumbnail-wrap {
        min-height: $card-height;
        padding: $card-padding;
        text-decoration: none;
        &:hover {
            background-color: map-get($colors, accent2);
        }
    }
    .title {
        margin-right: 30px;
        color: map-get($colors, accent1);
    }
    .subtitle,
    .subtitle a,
    p {
        color: map-get($colors, gray1);
    }

    .title,
    .subtitle {
        margin-bottom: 20px;
    }
    // .img-thumbnail {
    //     margin-bottom: 20px;
    //     border-width: 0;
    // }

    .read-more {
        opacity: 0;
    }
}

.cart:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.text-wrapper {
    background-color: map-get($colors, white);
}


.img-frame {    
    display: flex;
    flex-direction: column;
    height: $card-height - ($card-padding * 2);
    background-color: map-get($colors, accent1);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-frame--laptop {    
    background-size: 409px;
    background-position: -5px 121px;
}

.img-frame--phone {    
    background-size: 205px;
    background-position: 50px 120px;
}



// .img-thumbnail {
//     padding: 0;
//     border-radius: 0;
//     border-color: map-get($colors, gray1);
// }

.thumbnail-wrap {
    position: relative;
    display: block;
    background-color: map-get($colors, white);
}


.subtitle {
    display: flex;
    gap: 20px;

    @include type-caption();

    .category {
        font-size: 13.5px;
    }
    .releaseDate {
        font-size: 15px;
    }
}