<div class="bx-container">
    <div class="project-card-list component-wrapper">
        <nav class="scrallable-area--pagination">
            <button class="btn scroll-btn left" (click)="scroll(-1)" mat-icon-button>
                <mat-icon class="chevron_left">chevron_left</mat-icon>
            </button>
            <button class="btn scroll-btn right" (click)="scroll(1)" mat-icon-button>
                <mat-icon class="chevron_right">chevron_right</mat-icon>
            </button>
        </nav>
        
        <h2 class="component-title section-title section-title-icon title-decorator" [ngClass]="titleClass()">
            {{title}}
            <app-icon 
                *ngIf="isHoverSupported"
                name="info circle"
                [matTooltip]="info" matTooltipClass="custom-tooltip-1"
                [matTooltipPosition]="position.value!">
            ></app-icon>
        </h2>
        
        <div class="scrallable-area--wrapper" #scrollable>
            <div class="scrallable-area--content" [style.--num-children]="source.length">
                <app-project-card 
                    class="item" 
                    [class.is-last]="isLast"
                    *ngFor="let item of source; last as isLast" 
                    [project]="item"
                ></app-project-card>
            </div>
        </div>
    </div>
</div>