@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';


$dropshadow-blur: map-get($gap, p-card-ds);
$card-width-large: map-get($components-size, p-card-w-lg);
$frame-padding: $dropshadow-blur; // Gap necessary to allow cards drop shadow to be visible
$info-iw: map-get($components-size, info-icon-w);

// Spacers 
$spacer-sm: map-get($gap, spacer-sm);
$spacer-md: map-get($gap, spacer-md);
$spacer-lg: map-get($gap, spacer-lg);
$spacer-xl: map-get($gap, spacer-xl);

// By default
:host {
    position: relative;
    display: block;
}



// [visibility] ....................................................
@layer components.project {
    .component-wrapper {
        @include rem(margin-bottom, $spacer-sm);
    }
}
// [visibility] ....................................................


// [styling] .......................................................
@layer components.project {
    .list-title {
        position: absolute;
        top: 0;
        @include rem(left, $frame-padding);
        margin: 0;
        display: flex;
        @include rem(gap, 10px);
        align-items: center;

        ::ng-deep {
            svg {
                @include rem(width, $info-iw);
                @include rem(height, $info-iw);
            }
        }
    }
    // Scroll system ..
    // .scrallable-area--wrapper {}

    .scrallable-area--content {
        --item-width: $card-width-large;
        // --num-children is set by the template

        $gap: 20px;
        display: flex;
        flex-wrap: wrap;
        padding: $frame-padding;
        width: calc(((#{$card-width-large} + #{$gap}) * var(--num-children)) + #{$frame-padding * 2});

        // ...
        .item {
            width: var(--item-width);
            @include rem(margin-right, $gap);

            &.is-last {
                margin-right: 0;
            }
        }
    }
}
// [styling] .......................................................