

@layer article-thumb {
    .entry-thumb--hero {
        margin-bottom: var(--enjanga-clr-article-thumb-hero-margin-bottom);
        // border: 5px solid orange;

        @media (min-width: 992px) {
            margin-top: 7px;
            margin-right: 7px;
            margin-left: 7px;
            --enjanga-clr-article-thumb-hero-margin-bottom: 40px;
        }
        @media (min-width: 1400px) {
            --enjanga-clr-article-thumb-hero-margin-bottom: 60px;
        }

        a {
            display: block;
            // overflow: hidden;
        }

        // .entry-thumb--hero--overlay,
        .entry-thumb__txtwrapper {
            position: absolute;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
            border-radius: var(--enjanga-btn-border-radius);
        }
        .entry-title {
            color: var(--enjanga-clr-article-thumb-hero-title);
            .entry-title__label {
                display: inline-block;
            }
            .entry-title__text {
                display: block;
            }
        }
        .entry__text {
            color: var(--enjanga-clr-article-thumb-hero-text);
            &:hover {
                text-decoration: none;
                color: var(--enjanga-clr-article-thumb-hover-text)!important;
            }
        }
        svg {
            fill: var(--enjanga-clr-article-thumb-hero-title);
        }
    }
    // .entry-thumb--hero--overlay {
    //     display: none;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;
    // }
    .entry-thumb--hero--imgframe {
        display: block;
        background-size: cover;
        border-radius: var(--enjanga-btn-border-radius);
    }
    .entry-thumb--hero--imgframe {
        height: var(--enjanga-clr-article-thumb-hero-height);
        @media (min-width: 768px) {
            --enjanga-clr-article-thumb-hero-height: 375px;
        }
        @media (min-width: 1200px) {
            --enjanga-clr-article-thumb-hero-height: 500px;
        }
        @media (min-width: 1400px) {
            --enjanga-clr-article-thumb-hero-height: 580px;
        }
    }

    .entry-thumb--hero {
        .entry-thumb__txtwrapper {
            width: 100%;
            padding: 30px;
            z-index: 2;

            svg {
                position: relative;
                top: 30px;
                @media (min-width: 992px) and (max-width: 1199px) {
                    top: 44px;
                }
                @media (min-width: 1200px) and (max-width: 1399px) {
                    top: 56px;
                }
                @media (min-width: 1400px) {
                    top: 63px;
                }
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                padding-right: 300px;

                .entry-title {
                    font-size: 2rem;
                }
                .entry__text {
                    font-size: 1.1rem;
                }
            }
            @media (min-width: 1200px) and (max-width: 1399px) {
                padding: 40px;
                padding-right: 450px;

                .entry-title {
                    font-size: 2.3rem;
                }
                .entry__text {
                    font-size: 1.2rem;
                }
            }
            @media (min-width: 1400px) {
                padding: 50px;
                padding-right: 450px;

                .entry-title {
                    font-size: 2.6rem;
                }
                .entry__text {
                    font-size: 1.3rem;
                }
            }
        }
    }
}


@layer article-thumb {
    .entry-thumb--prominent {
        // border: 5px solid turquoise;
        .entry__img {
            @media (max-width: (992px - 1px)) {
                margin-bottom: 10px;
            }
        }
    }
}




// Bottom separator
@layer article-thumb {
    .entry-thumb:not(.entry-thumb--hero):after {
        $width: 150px;
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        width: #{$width};
        margin-left: -#{$width/2};
        height: 1px;
        background-color: #999;
        bottom: -15px;

        @media (min-width: 768px) {
            bottom: -20px;
        }

        @media (min-width: (992px - 1px)) {
            display: none;
        }
    }
}



@layer article-thumb {
    .entry-thumb {
        position: relative;

        a,
        .entry__header,
        .entry__text,
        .entry__img,
        svg {
            transition: all 0.3s;
        }

        a,
        .entry__header,
        .entry__text,
        .entry__img {
            border-radius: var(--enjanga-btn-border-radius);
        }

        a,
        .entry__header,
        .entry__text {
            margin-bottom: 0;
        }
        svg {
            $dim: 30px;
            height: $dim;
            border-radius: $dim;
            opacity: 0.4;
        }
    }

    // -> (not for prominent articles)
    .entry-thumb:not(.entry-thumb--prominent) {
        .entry__img {
            margin-bottom: 0;
        }
    }
}




@layer article-thumb {
    .entry-thumb {
        .entry__header {
            @media (max-width: (992px - 1px)) {
                margin-top: 0;
            }
            @media (min-width: 992px) and (max-width: (1200px - 1px)) {
                margin-top: 35px;
            }
        }
        a {
            .entry__header {
                color: var(--enjanga-clr-small-block-title);
                &:hover {
                    color: var(--enjanga-clr-article-thumb-hover-text);

                    svg {
                        opacity: 1;
                        fill: var(--enjanga-clr-article-thumb-hover-svg);
                        background-color: var(--enjanga-clr-article-thumb-hover-text);
                    }
                }
            }
        }
    }
}




@layer article-thumb {
    // -> (not for prominent articles)
    // Don't display the image on smaller screens
    .entry-thumb:not(.entry-thumb--prominent),
    .entry-thumb:not(.entry-thumb--hero) {
        .entry__img {
            display: none;
            @media (min-width: 992px) {
                display: block;
            }
        }
    }

    .entry-thumb {
        // Reduce spacing between title and paragraph
        .entry__text {
            margin-top: 0;
        }
    }
}



@layer article-thumb {
    .entry__header,
    .entry__text {
        margin-top: 15px;
        &:hover {
            text-decoration: underline;
        }
    }
}


@layer article-thumb {
    .entry-thumb {
        a {
            &:hover {
                background-color: var(--enjanga-clr-box-light-accent-bg);
            }
            .entry__img {
                &:hover {
                    opacity: 0.5!important;
                }
            }
            .entry__text {
                &:hover {
                    color: var(--enjanga-clr-small-block-title);
                }
            }
        }
    }

    .entry-thumb:not(.entry-thumb--hero) {
        .entry__text {
            color: var(--enjanga-clr-small-block-p);
        }
    }

    .entry-thumb:not(.entry-thumb--hero) {
        a {
            text-decoration: none;
            position: relative;
            display: block;

            @media (min-width: 992px) {
                padding: 7px;
            }
        }
    }
}





/**
 * 
 * Display thumbnail with image and text side by side
 * 
**/
@layer article-thumb {
    .entry-thumb:not(.entry-thumb--hero) {
        @media (min-width: 992px) and (max-width: (1200px - 1px)) {
            a {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
            }
        }
    }
}