
@layer article-thumb {
    .entry-thumb {
        a,
        .entry__img,
        .entry__header,
        .entry__text {
            transition: all 0.3s;
            border-radius: var(--enjanga-btn-border-radius);
        }
        svg {
            $dim: 30px;
            height: $dim;
            border-radius: $dim;
            transition: all 0.3s;
        }
    }
}

@layer article-thumb {
    .entry-thumb {
        margin-bottom: 40px;
    }
    .entry__header,
    .entry__text {
        margin-top: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
}


@layer article-thumb {
    .entry-thumb {
        a {
            &:hover {
                background-color: var(--enjanga-clr-box-light-accent-bg);
            }
            .entry__img {
                &:hover {
                    opacity: 0.5!important;
                }
            }
            .entry__header {
                &:hover {
                    color: var(--enjanga-clr-article-thumb-hover-text);

                    svg {
                        fill: var(--enjanga-clr-article-thumb-hover-svg);
                        background-color: var(--enjanga-clr-article-thumb-hover-text);
                    }
                }
            }
            .entry__text {
                color: var(--enjanga-clr-small-block-p);
                &:hover {
                    color: var(--enjanga-clr-small-block-title);
                }
            }
        }
    }
    .entry-thumb {
        a {
            text-decoration: none;
            position: relative;
            display: block;
            padding: 7px;

            .entry__header {
                color: var(--enjanga-clr-small-block-title);
            }
            p {
                color: var(--enjanga-clr-small-block-p);
            }
        }
    }
}



// @layer article-thumb {
//     .entry-thumb {
//         a {
//             .entry-title {
//                 position: relative;

//                 &::after {
//                     content: '';
//                     position: absolute;
//                     left: 0;
//                     bottom: -2px;
//                     width: 100%;
//                     height: 2px;
//                     background-color: #000;
//                     /* Customize the underline color */
//                     transform: scaleX(0);
//                     transition: transform 0.3s ease-in-out;
//                 }
        
//                 &:hover::after {
//                     transform: scaleX(1);
//                 }
//             }
//         }



//         // @keyframes underline {
//         //     0% {
//         //         transform: scaleX(0);
//         //     }
        
//         //     100% {
//         //         transform: scaleX(1);
//         //     }
//         // }
//     }
// }
