@import './../../../assets/styles/mixins';

$card-width: 295px;
$card-height: 340px;
$gap: 60px;
$ng-card: 5;

// By default
:host {
    position: relative;
    display: block;
    padding-top: 50px;
}

// Scroll system ..
.scrallable-area--content {
    display: flex;
    @include rem(gap, $gap);
    // border: 2px solid turquoise;
    width: ($card-width * $ng-card) + ($gap * ($ng-card - 1));
}


.card {
    $vertical-gap: 13px;

    // ...
    display: flex;
    align-items: center;
    justify-content: center;
    width: $card-width;
    height: $card-height;
    border: 0px solid;
    background-color: transparent;

    // Decoration
    &::after {
        position: absolute;
        @include rem(bottom, $vertical-gap);
        content: '';
        width: 265px;
        height: ($card-height - ($vertical-gap * 2));
        @include rem(border-radius, 4px);
        background-color: #fff;
    }

    .card-top {
        position: absolute;
        @include rem(top, $vertical-gap * 2);
    }

    .card-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border: 0px solid transparent;
        background-color: transparent;

        .MuiTooltip-tooltip {
            background-color: #f7f7f7;
        }
    }



    .title-caption {
        margin-bottom: 0;
    }

    .title-caption,
    .thumbnail,
    button {
        z-index: 1;
    }

    .thumbnail {
        margin-top: auto;
        margin-bottom: auto;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
    }
}

.card:hover {

    // hide title
    .card-top {
        visibility: hidden;
    }

    // change background color
    @include bgColor(primary_gray3);

    // change "decoration" background color
    &::after {
        @include bgColor(primary_gray1);
    }
}