@import './../../../assets/styles/mixins';


@layer components.carousel {
    @import './styles/core';
}

// Spacers 
$spacer-sm: map-get($gap, spacer-sm);
$spacer-md: map-get($gap, spacer-md);
$spacer-lg: map-get($gap, spacer-lg);
$spacer-xl: map-get($gap, spacer-xl);

$card-width: 295px;
$card-height: 340px;
$gap: 60px;
$ng-card: 5;

// By default
:host {
    position: relative;
    display: block;
}