<section class="carousel">
    <div class="slide slide1">
        <div class="text-wrapper">
            <h1>Custom design and development.</h1>
            <p>Eric Njanga creates hard to explain design concepts and codes hard to find user interfaces.</p>
            <ul>
                <li>UI Developer (since 2006)</li>
                <li>UX Designer (since 2019)</li>
            </ul>

            <app-call-to-action link="/portfolio" label="See latest work" status="button"></app-call-to-action>
        </div>

        <img src="./../../../assets/img/img-slide1.png" alt="">
    </div>

    <span class="background"></span>
</section>


