<div class="bx-container">
    <div class="carousel" [ngClass]="currSlide()">
        <div class="inner-wrapper">
            <div class="text-wrapper">
                <h5 class="component-subtitle title-caption section-title section-title-icon title-decorator title-overline icon-skills">{{title}}</h5>
                <h2 class="component-title title-decorator">{{skillOnDisplay.title}}</h2>
                <p>{{skillOnDisplay.description}}
                </p>

                <nav class="component-pagination">
                    <div class="counter">{{currSkillInd + 1}}/{{listOfSkills.length}}</div>
                    <span class="sep">|</span>
                    <button class="btn-prev" alt="...." (click)="prevSkill(listOfSkills)" mat-icon-button aria-label="Previous skill">
                        <mat-icon class="chevron_left">chevron_left</mat-icon>
                    </button>
                    <button class="btn-next" (click)="nextSkill(listOfSkills)" mat-icon-button aria-label="Next skill">
                        <mat-icon class="chevron_right">chevron_right</mat-icon>
                    </button>
                </nav>
            </div>

            <img class="slide-img" [src]="skillOnDisplay.img" />
        </div>
    </div>
</div>





<dialog #myDialog>
    <h3>Modal title</h3>
    <p>This is the content of the modal dialog.</p>
    <button (click)="closeDialog()">Close Dialog</button>
</dialog>


<!-- <nav class="scrallable-area--pagination">
        <button class="btn scroll-btn left" (click)="scroll(-1)">
            <app-icon class="icon" name="arrowLeft"></app-icon>
        </button>
    
        <button class="btn scroll-btn right" (click)="scroll(1)">
            <app-icon class="icon" name="arrowRight"></app-icon>
        </button>
    </nav>
    
    <div class="scrallable-area--wrapper" #scrollable>
        <div class="scrallable-area--content">
            <div class="card" *ngFor="let elt of list">
                <h5 class="title-caption card-top text-center">Title</h5>
                <button class="card-bottom" (click)="openDialog()">
                    <img class="thumbnail" src="./../../../assets/img/project-26-hero.png" matTooltip="Learn more"
                        matTooltipClass="custom-tooltip-2" matTooltipPosition="above" alt="">
                </button>
    
            </div>
    
        </div>
    </div> -->