<div class="wrapper">
  <ng-container *ngIf="displayFirstThree; else displayAll">
    <app-article-thumb *ngFor="let article of lisdtOfArticles | slice:0:3; let isFirst = first" [img]="article.img"
      [link]="article.link" [text]="article.text" [title]="article.title"
      [isProminent]="isFirst"></app-article-thumb>
  </ng-container>

  <ng-template #displayAll>
    <app-article-thumb *ngFor="let article of lisdtOfArticles; let isFirst = first" [img]="article.img"
      [link]="article.link" [text]="article.text" [title]="article.title"
      [isProminent]="isFirst"></app-article-thumb>
  </ng-template>
</div>