
@mixin style-721px-up {
    @container (min-width: 721px) {
        height: 330px;
    }
}

@mixin style-961px-up {
    @container (min-width: 961px) {
        .text-wrapper {
            top: 0;
            max-width: 650px;
        }
    }
}


// Switch visibility between small and large navigation depending 
// on the container's size (bx-container)
.hero--other {
    @include style-721px-up();
    @include style-961px-up();
}