@import './stylingHelpers';

/**
 * Component's core structure
 * ....................................................
*/



/**
 * - Set a min height
 * - Hide all images
 * - Push quotes and CTAs down
 * - Add bottom spacing
*/
@mixin container_S_eltStyles() {
    // Set a min height
    @include rem(min-height, 200px);

    // Hide all images
    img {
        display: none;
    }

    // Push quotes and CTAs down
    .hero__quote,
    .hero__cta {
        @include rem(margin-top, 20px);
    }

    // Add bottom spacing
    @include gobalBottomSpacing();
}


/**
 * - Limit height + add an overflow
 * - Display only 1 image (laptopn) with limited width
 * - Limit text's width + change position
 * - Push quotes and CTAs down
 * - Set gap between flex items
 * - Add bottom spacing
*/
@mixin container_M_eltStyles() {
    // ...
    @include rem(height, 330px);

    // ..
    .img--phone {
        @include rem(max-width, 170px);
        @include rem(right, 20px);
    }
    // .img--laptop {
    //     display: none;
    // }

    // Limit text's width
    .text-wrapper {
        position: relative;
        @include rem(max-width, 434px);
        @include rem(top, 30px);
    }

    // Push quotes and CTAs down
    .hero__quote,
    .hero__cta {
        @include rem(margin-top, 20px);
    }

    // ...
    @include rem(gap, 30px);

    // Add bottom spacing
    @include gobalBottomSpacing();
}


/**
 * - Limit height + add an overflow
 * - Increase left and right padding
 * - Display only 1 image (laptopn) with limited width
 * - Limit text's width + change position
 * - Push quotes and CTAs down (++)
 * - Increase gap between flex items
 * - Add bottom spacing
*/
@mixin container_L_eltStyles() {
    // ...
    @include rem(height, 380px);

    //... 
    @include rem(padding-left, 40px);
    @include rem(padding-right, 40px);

    // ..
    .img--phone {
        position: relative;
        @include rem(top, -35px);
        @include rem(max-width, 300px);
    }
    .img--laptop {
        @include rem(width, 450px);
        right: 0;
    }

    // Limit text's width 
    .text-wrapper {
        position: relative;
        @include rem(max-width, 434px);
        @include rem(top, 20px);
    }

    // Push quotes and CTAs down
    .hero__quote,
    .hero__cta {
        @include rem(margin-top, 30px);
    }

    // ...
    @include rem(gap, 70px);

    // Add bottom spacing
    @include gobalBottomSpacing();
}



/**
 * - Limit height + add an overflow
 * - Increase left and right padding
 * - Display both images (with custom positions)
 * - Limit text's width + change position
 * - Push quotes and CTAs down (++)
 * - Add bottom spacing
*/
@mixin container_XL_eltStyles() {
    // ...
    @include rem(height, 430px);

    //... 
    @include rem(padding-left, 50px);
    @include rem(padding-right, 50px);

    // ..
    .img--phone {
        @include rem(top, 5px);
        @include rem(right, 40px);
        @include rem(max-width, 300px);
        z-index: 1;
    }
    .img--laptop {
        @include rem(top, 30px);
        @include rem(right, -40px);
        @include rem(max-width, 576.97px);
    }

    // Limit text's width 
    .text-wrapper {
        position: relative;
        @include rem(max-width, 450px);
    }

    // Push quotes and CTAs down
    .hero__quote,
    .hero__cta {
        @include rem(margin-top, 30px);
    }

    // Add bottom spacing
    $spacer-md: map-get($gap, spacer-md);
    @include gobalBottomSpacing($spacer-md);
}



/**
 * - Limit height + add an overflow
 * - Increase left and right padding
 * - Display both images (with custom positions)
 * - Limit text's width + change position
 * - Push quotes and CTAs down (++)
 * - Add bottom spacing
*/
@mixin container_XXL_eltStyles() {
    // ...
    @include rem(height, 500px);

    //... 
    @include rem(padding-left, 60px);
    @include rem(padding-right, 60px);

    // ..
    .img--phone {
        @include rem(top, 5px);
        @include rem(right, 40px);
        @include rem(max-width, 300px);
        z-index: 1;
    }
    .img--laptop {
        @include rem(top, 30px);
        @include rem(right, -40px);
        @include rem(max-width, 681.68px);
    }

    // Limit text's width 
    .text-wrapper {
        position: relative;
        @include rem(max-width, 550px);
        @include rem(top, 50px);
    }

    // Push quotes and CTAs down
    .hero__quote,
    .hero__cta {
        @include rem(margin-top, 35px);
    }

    // Add bottom spacing
    $spacer-lg: map-get($gap, spacer-lg);
    @include gobalBottomSpacing($spacer-lg);
}






.hero {
    position: relative;
    display: flex;
    overflow: hidden;
    @include bgColor(primary);
    @include gobalBorderRadius();
    @include rem(padding-left, 20px);
    @include rem(padding-right, 20px);
    @include rem(padding-top, 40px);
    @include rem(padding-bottom, 40px);

    .hero__title, .hero__quote, .hero__cta {
        margin-bottom: 0;
    }
    .hero__title {
        @include color(bright1);
    }
    .img--phone, .img--laptop {
        position: absolute;
    }
    @include quoteStyling();
    @include captionStyling();
    @include titleQuoteStyling();
}


// Switch visibility between small and large navigation depending 
// on the container's size (bx-container)
.hero {
    @container (min-width: 1141px) {
        @include container_XXL_eltStyles();
    }
 
    @container (min-width: 961px) and (max-width: 1140px) {
        @include container_XL_eltStyles();
    }
 
    @container (min-width: 721px) and (max-width: 960px) {
        @include container_L_eltStyles();
    }
 
    @container (min-width: 541px) and (max-width: 720px) {
        @include container_M_eltStyles();
    }

    // From zero to small ...
    @container (max-width: 540px) {
        @include container_S_eltStyles();
    }
}