
@mixin global() {
    .circle { 
        @include rem(inline-size, 324px);
        aspect-ratio: 1;
        border-radius: 50%;
        @include bgColor(accent-100);
        z-index: 1;
    }
    img {
        display: block;
        bottom: 0;
        z-index: 3;
    }
    .circle, img {
        position: absolute;
    }

    .hero__quote {
        position: relative;
        z-index: 2;
    }
    .text-wrapper {
        z-index: 2;
    }
}

@mixin style-540px-max {
    @container (max-width: 540px) {
        .hero__quote::ng-deep .title-wrapper {
            border-left: 2px solid var(--clr-neutral-900)!important;
            a .intro .title-wrapper__heading,
            a .intro .title-wrapper__subtitle, 
            a .intro .title-wrapper__heading .icon svg {
                @include colorIm(neutral-900);
            }
        }
    }
}

@mixin style-721px-up {
    @container (min-width: 721px) {
        height: 330px;

        img {
            @include rem(max-width, 510px);
        }
        .circle {
            @include rem(inline-size, 405px);
        }
        .hero__quote, .hero__cta {
            margin-top: 20px;
        }
        .text-wrapper {
            max-width: 550px;
        }
    }
}

@mixin style-961px-up {
    @container (min-width: 961px) {
        .text-wrapper {
            top: 0;
            max-width: 650px;
        }
    }
}

@mixin style-1141px-up {
    @container (min-width: 1141px) {
        .hero__quote {
            margin-top: 5px;
        }
    }
}


// Switch visibility between small and large navigation depending 
// on the container's size (bx-container)
.hero--about {
    @include global();
    @include style-540px-max();
    @include style-721px-up();
    @include style-961px-up();
    @include style-1141px-up();
    
    @container (min-width: 1141px) {

        // position circle
        .circle {
            @include rem(bottom, -100px);
            @include rem(right, 80px);
        }

        //display image and position it
        img {
            @include rem(right, 40px);
        }
    }
 
    @container (min-width: 961px) and (max-width: 1140px) {

        // position circle
        .circle {
            @include rem(bottom, -100px);
            @include rem(right, 80px);
        }

        //display image and position it
        img {
            @include rem(right, 40px);
        }
    }
 
    @container (min-width: 721px) and (max-width: 960px) {

        // ...
        .text-wrapper {
            top: 0;
        }

        // position circle
        .circle {
            @include rem(bottom, -100px);
            @include rem(right, -30px);
        }

        //display image and position it
        img {
            @include rem(right, -50px);
        }
    }
 
    @container (min-width: 541px) and (max-width: 720px) {
        height: 450px;

        // ...
        .text-wrapper {
            top: 0;
        }

        // position circle
        .circle {
            bottom: -80px;
            right: -30px;
        }

        //display image and position it
        img {
            right: -30px;
            max-width: 400px;
        }
    }

    // From zero to small ...
    @container (max-width: 540px) {
        height: 500px;

        // position circle
        .circle {
            bottom: -80px;
            right: 10px;
        }

        //display image and position it
        img {
            right: 0;
            max-width: 400px;
        }
    }
}