
@mixin container_L_eltStyles() { 
    .img--laptop {
        display: none;
    } 
}
@mixin container_M_eltStyles() {
    .img--laptop {
        display: none;
    }
}



// Switch visibility between small and large navigation depending 
// on the container's size (bx-container)
.hero--home {
    // Temporary hide laptop slides here
    .img--laptop {
        display: none;
    }

    --img--phone-right-pos: 50px;
    .img--phone {
        right: var(--img--phone-right-pos);
    }
 
    @container (min-width: 961px) {
        .img--phone {
            --img--phone-right-pos: 130px;
        }
    } 
}