 

.reveal-content__footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;

    padding: 15px 20px;
    align-items: center;


    &::before {
        content: '';
        position: absolute;
        width: calc(100% - 40px);
        height: 1px;
        left: 20px;
        top: 0;
        @include bgColor(neutral-250);
    }

}

.btn {

    padding: 10px 20px;
    font-size: 14px;



    display: block;
    // width: 100%;
    text-align: right;
    // background: #ccc;
    @include bgColor(neutral-250);
    @include color(neutral-700);
    text-decoration: none;
    border-radius: 20px;
}