

// Toggle content anytime
// ...
.component-wrapper:not(.is-container-query) { 
    .reveal-content__footer {
        display: block;
    }
    &.content-masked {
        .reveal-content { 
            max-height: 200px;
            overflow-y: hidden; 
        }
    }
}



// Toggle content only within a certain range
// ...
.component-wrapper.is-container-query {
    @container (min-width: 936px) {
        .reveal-content__footer {
            display: none;
        }
    }
    // ...
    @container (max-width: 935px) {
        &.content-masked {
            .reveal-content { 
                max-height: 200px;
                overflow-y: hidden; 
            }
        }
        
        .reveal-content__footer {
            display: flex;
        }
    }
}