<div class="subpage">
    <h1>Richy Group</h1>

    <h2>The process</h2>

    <article>
        <p>I'm using a custom grid system to perfect the layout alignment.</p>
        <img class="img-thumbnail" src="./../../../assets/img/richy-group-1.png" alt="">
    </article>

    <article>
        <p>I've AB-tested three headers to find out which one better portrays the company's dynamism. The third header won.</p>
        <img class="img-thumbnail" src="./../../../assets/img/richy-group-2.png" alt="">
    </article>
</div>