/* You can add global styles to this file, and also import other style files */
/**
 * Twitter bootstrap imports
*/


// Font import
// @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Maitree&family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&family=Maitree:wght@400;600;700&family=Montserrat:wght@400;500;600;700&display=swap');





@import './assets/styles/mixins';



@import '../node_modules/bootstrap/scss/bootstrap';
@import './assets/styles/global';





html, body { height: 100%; }
body { 
    margin: 0; 
    @include setFontFamily('body');
    color: map-get($colors, primary_dark1);
    @include set-app-background-color();
}




// Typography
// -------------------------
h1, h2, h3, h4 {
    @include setFontFamily('heading');
}
h1 {
    @include typo-h1();
}
h2 {
    margin-bottom: 25px;
    @include typo-h2();
}
h3 {
    @include typo-h3();
}
h4 {
    @include typo-h4();
}




// Global helpers
// -------------------------
.list-align-bullets-with-left-edge {
    padding-left: 0.9rem;
}