@import './variables';

$xl: map-get($breakpoints, screen-xl); //extra large screens
$lg: map-get($breakpoints, screen-lg); //extra large screens

@layer base {
    // Adjust document top padding to the appbar in display
    body {
        padding-top: map-get($gap, appBar-sm); // Smaller padding for small appbar
        @include respond-to($lg) {
            padding-top: map-get($gap, appBar-lg); // Bigger padding for small appbar
        }
    }

    img {
        max-width: 100%;
    }
}


.page-section {
    display: block;
    @include rem(margin-bottom, 170px);

    &.last {
        margin-bottom: 0;
    }
}

.subpage-spacer {
    display: block;
    @include rem(margin-bottom, 100px);
}

.subpage {
    margin-top: map-get($gap, lg);

    h1 {
        text-align: center;
    }
}

.title-caption {
    margin-bottom: 0;
    @include color(primary_gray1);
    @include typo-titleCaption(uppercase);
}

.pagination-wrapper {
    margin-bottom: 30px;
    border-bottom: 1px solid map-get($colors, gray1);
}

.box-acccent {
    @include rem(padding-top, 75px);
    @include rem(padding-right, 50px);
    @include rem(padding-bottom, 75px);
    @include rem(padding-left, 50px);
}

.box-acccent1 {
    @include bgColor(accent4_white);
}











@layer components {
    .scrallable-area--wrapper {
        overflow-x: scroll;
    }

    .scrallable-area--pagination {
        display: flex;
        justify-content: end;
    }

    .scrallable-area--content {}
}










/**
 *
 * Angular Material - Toolip customization
 * --------------------------------------------------
*/
.custom-tooltip-1 {
    .mdc-tooltip__surface {
        @include bgColor(primary_dark2);
    }
}

.custom-tooltip-2 {
    .mdc-tooltip__surface {
        @include color(primary_dark2);
        @include bgColor(state3);
    }
}


/**
 *
 * Bootstrap grid
 * --------------------------------------------------
*/

// // Increasing columnb gutter
// @include respond-to($xl) {
//     .row {
//         margin-right: calc(-1 * map-get($gap, lg));
//         margin-left: calc(-1 * map-get($gap, lg));
//     }
//     .row>* {
//         padding-right: map-get($gap, lg);
//         padding-left: map-get($gap, lg);
//     }
// }








/**
 *
 * BUTTONS
 * --------------------------------------------------
*/
@layer components.buttons {

    .button-primary {
        display: flex;
        @include rem(gap, 10px);
        font-weight: 700;
        text-transform: uppercase;
        @include color(state3);

        .icon {
            display: block;
            @include color(state3);
            @include rem(width, 20px);
            transition: transform 0.2s ease-in-out;
        }

        &:hover {
            text-decoration: none;
            @include color(state3);

            .icon {
                transform: translateX(10px);
            }
        }
    }

    .button-primary--large {
        @include rem(font-size, 20px);

        .icon {
            @include rem(width, 30px);
        }
    }


    .button-secondary {
        padding-left: 0;
        padding-right: 0;
        border-width: 0px;
        font-weight: 500;
        text-decoration: underline;
        background-color: transparent;
        @include color(gray1);

        &:hover {
            text-decoration: none;
        }

        .icon svg {
            @include rem(width, 16px);
        }
    }

    .button-secondary--up {
        .icon svg {
            transform: rotate(-90deg);
        }
    }

    .button-secondary--down {
        .icon svg {
            transform: rotate(90deg);
        }
    }

}

// components.buttons








/**
 *
 * BULLET LIST
 * --------------------------------------------------
*/
@layer utilities {


    .nice-bullet-list {
        list-style: none;


        li {
            position: relative;
            margin-right: 0px;
            margin-left: 0px;
            @include rem(margin-top, 10px);
            @include rem(margin-bottom, 15px);
            @include rem(padding-left, 10px);

            // Increase space between content and bullet if the container increases
            @container (min-width: 450px) {
                @include rem(padding-left, 20px);
            }


        }






        li::before {
            border: 1px solid map-get($colors, primary_dark2);
            content: "";
            display: inline-block;
            position: absolute;
            @include rem(width, 10px);
            @include rem(height, 10px);
            @include rem(left, -15px);
            @include rem(top, 6px);
            // left: -15px;
            // top: 6px;
            // width: 10px;
            // height: 10px;
            background-color: black;
            border-radius: 50%;
        }
    }
}