/**
 * SINGLE PLATFORM STARDARDS for application-wide usage
 * (Designers and developers should collaborate on this file)
 * ------------------------------------------
*/


/**
 * Colors
*/
$colors: (
    dark1                   : #202023,
    white                   : #fff, 

    // ....
    primary_dark2            : #1E2725,
    primary_dark1            : #304943,
    primary                  : #2A6356,

    primary_light1           : #86E1CC,

    primary_gray1            : #588F82,
    primary_gray2             : #B3D2CB,
    primary_gray3             : #C1DBD5, 
    primary_gray4             : #E6F2EF,





    state1                  : #CE699A,
    state2                  : #DD036C,
    state3                  : #FFE66D,
    state4                  : #cbaa08,
    accent1                 : #2F392F,
    accent2                 : #E4E4B1,
    accent3                 : #E0F6E1,
    accent4_white           : #fff,

    gray0                   : #3D4A47,
    gray1                   : #5C6966,
);
$rgb-colors: (
    dark1                   : #202023,
    gray1                   : #E2DDDD,
    white                   : #fff, 
);




/**
 * Media queries breakpoints
*/
$breakpoints: (
    screen-sm: 576px,
    screen-md: 768px,
    screen-lg: 992px,
    screen-xl: 1200px
);


/**
 * General layout
*/
$gap: (
    appBar      : 80px,
    appFooter   : 300px,
    xxs         : 7px, 
    xs          : 10px,
    sm          : 20px,
    lg          : 40px,
    p-card-ds   : 4px, // project card drop shadow
);


$components-size: (
    p-card-w-lg     : 373px, //project card width (large size)
    info-icon-w     : 22px,
);


/**
 * ...
*/
$border: (
    radius      : 4px
);
 

/* Sidebar */
$sidebar: (
    // expanded-w      : 256px, 
    // collapsed-w     : map-get($gap, btn-square-dim) + (map-get($gap, xs) * 2), // Collapsed width = double gap + square button width
);


/* Main Content */
$mainContent: (
    // collapsed-w     : calc(100% - #{map-get($sidebar, expanded-w)}), // Collapsed width
    // expanded-w      : calc(100% - #{map-get($sidebar, collapsed-w)}), // Expanded width
);




