@import './../../../assets/styles/mixins';

.title-wrapper {
    @include rem(padding-left, 20px);
    border-left: 1px solid map-get($colors, gray0);
}

.title-wrapper__heading,
.title-wrapper__subtitle {
    font-family: 'Maitree', serif;
}

//<!-- [TODO:] Same component in "testimonial.component.html "-->
.wrapper-container {
    display: flex;
    align-items: center;
    @include rem(gap, 12px);
}
.title-wrapper {
    a {
        color: map-get($colors, primary_dark1);
        text-decoration: none;
        &:hover {
            .title-wrapper__heading {
                text-decoration: underline;
            }
        }
    }
}
.title-wrapper__heading {
    @include typo-h5();
    margin-bottom: 0;

    .icon {
        position: relative;
        top: -5px;
        left: 6px;
    }
}

.title-wrapper__subtitle {
    color: map-get($colors, gray0);
    font-weight: 500;


    &.isQuote {
        &::before {
            content: '\201C'; /* Unicode character for left double quotation mark */
            @include rem(font-size, 25px);  
            color: map-get($colors, primary_gray4);
            line-height: 0;
            position: relative;
            margin-right: 5px;
            top: 7px;
        }
          
        &::after {
            content: '\201D'; /* Unicode character for right double quotation mark */
            @include rem(font-size, 25px);  
            color: map-get($colors, primary_gray4);
            line-height: 0;
            position: relative;
            margin-left: 5px;
            top: 7px;
        }
    }
}
//<!-- [TODO:] Same component in "testimonial.component.html "-->