@import './../../../assets/styles/mixins';

.title-wrapper {
    display: flex;
    align-items: center;
    @include rem(gap, 12px);
    @include rem(padding-left, 20px);
    border-left: 1px solid map-get($colors, gray0);
}


.title-wrapper__heading {
    @include typo-h5();
    margin-bottom: 0;

    a {
        color: map-get($colors, primary_dark1);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .icon {
        position: relative;
        top: -5px;
        left: 6px;
    }
}

.title-wrapper__subtitle {
    color: map-get($colors, gray0);
    font-weight: 500;
}