

.component-pagination {
    position: absolute;
    right: 0;
    @include bgColor(primary_gray1);
    @include rem(height, 45px);
    @include rem(width, 95px);
}

.section-title {
    position: relative;
}