<header class="hero">
    <div class="container">
        <div class="text-wrapper">
            <h1>
                Web Design Mistake #1: Ignoring your ideal customers
            </h1>
        </div>

        <img class="main-character img-fluid" src="./../../../assets/img/july2023/article-2-tmb-min.png" alt="">
    </div>
</header>

<main class="container entry-article section-spacing-marg-y-top section-spacing-marg-y-bottom">
    <h2>It was a poor decision</h2>
    <p>Back in 2013, I decided to turn my web design skills into a business. "What can go wrong?" I thought, “Everybody would love a beautiful website.” Instead of making a business plan, and getting business and sales coaching, I decided to “follow my #passion”, “because the #money will eventually come” (probably the worst advice I got from internet #influencers and #motivation Gurus).😓 </p>
    <p>💔 Fast forward, my first venture failed, leaving me cashless, in debt, and on the job market!</p>
    <p>”I cannot find enough #clients to stay in business,” I said to my old brother on a Saturday afternoon, feeling desperate, a few minutes after switching the “Founder/CEO” title on my LinkedIn profile with a more humble “Senior Front-end Developer”.</p>
    <p>💔 That moment sucked! It really sucked!!! ⛈️😢😖🌪️</p>


    <h2>Know your ideal customers</h2>
    <p>One reason for my business failure was the lack of knowledge of who my ideal #customers were. I assumed “#webdesign customers are everywhere”. </p>
    <p>The following questions never dawned on me:</p>
    <p>👉🏾 <b>What do you know about your ideal customers Eric???</b></p>

    <ul>
        <li>What do they look like?</li>
        <li>What are their needs?</li>
        <li>What are they struggling with?</li>
        <li>What can you help them with?</li>
    </ul>
    <p>I was improvising, relying only on my #skills, passion, and the #goodwill of prospective customers. 😂🤣</p>


    <h2>The same principles apply to User Experience and Web Design</h2>
    <p>In #uxdesign, we have the concept of #persona. A persona is a composite of all the knowledge designers are gathering about customers. The persona helps designers create an emotional connection with users, through that connection, designers #understand, #empathize and #create the type of solutions that get to the heart of users' problems while satisfying business objectives.</p>

    <blockquote>
        With a persona, I have to power to make design #decisions that I know will benefit both my clients and their customers. I know what features to add, what fonts to use, what pages to create, and what language to write on the website
    </blockquote>


    <figure>
        <div class="img-placeholder"></div>
        <figcaption>A persona I created during the web transformation of https://karmafinancial.ca/</figcaption>
    </figure>


    <h2>Takeaway</h2>
    <p>Customers vary in tastes, needs, and expectations. We cannot satisfy everyone, and not everyone need or can afford our service.
    </p>

    <blockquote>"Applied knowledge is key to business success."</blockquote>

    <p>Once I started being clear about "who my target customers where", and that I mobilized my efforts preparing for them, the game started to change.</p>

    <blockquote>"A website that drives business growth is first built on a deep knowledge of customers", anything else is improvisation.</blockquote>

    <p>Like my good friend Yves Noubissi used to say: “Business cannot be improvised”. 😊</p>

    <footer>
        <app-box-book-consultation></app-box-book-consultation>
    </footer>

</main>