@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';
@import './../../../assets/styles/_mixin-styles';
 


/**
 * Page section structure 
 * --------------------------------------------------------
**/
.component-title {
    @include page_h2_global_spacing();
}



.list-wrapper {
    @container (min-width: 1141px) {
        $col-width: 372px;

        // Set the grid as a 1 row and 5 cols ...
        grid-template-columns: $col-width auto $col-width auto $col-width;
    }

    // Increase column width
    @container (min-width: 961px) and (max-width: 1140px) {
        $col-width: 330px;

        // Set the grid as a 1 row and 5 cols ...
        grid-template-columns: $col-width auto $col-width auto $col-width;
    }

    // Set column width
    @container (min-width: 721px) and (max-width: 960px) {
        $col-width: 280px;

        // Set the grid as a 1 row and 5 cols ...
        grid-template-columns: $col-width auto $col-width auto $col-width;
    }

    // By default, establish grid ...
    @container (min-width: 721px) {
        // Set box look
        @include gobalBorderRadius(); //radius

        // Set inner content as a grid and reposition its elements
        // Set the grid as a 1 row and 3 cols ...
        display: grid;

        // Set all columns positionning
        .self-starter {
            grid-row: 1;
            grid-column: 1;
        }

        .career-highlights {
            grid-row: 1;
            grid-column: 3;
        }

        .avid-leaner {
            grid-row: 1;
            grid-column: 5;
        }
    }

    // By default, establish grid ...
    @container (max-width: 720px) {
        .list-inline {
            @include rem(max-width, 310px);
            @include gobalBottomSpacing();
        }
    }
}






/**
 * Elements styling
 * --------------------------------------------------------
**/
// Set all list of images as a grid
.list-img {
    display: grid;
    @include rem(gap, 10px);
    grid-template-columns: 30% 30% 30%;

    .list-inline-item {
        margin: 0;
    }
}

// Give a shape to all images
.list-img img {
    border-radius: 10px;
    border: 1px solid var(--clr-neutral-250);
}