<div>
    <header>
        <h5 class="title-caption section-title">self-start, highlights, avid-leaner</h5>
        <h2>Professional qualities and life-experience</h2>
    </header>
    <div class="bx">
        <h3>Self-starter</h3>
        <p>Eric is highly motivated, proactive, and is accountable for his work.  He naturally takes initiatives, sets and reaches goals, and works independently.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <img class="img-w1" src="./../../../assets/img/Self-starter 1.png" alt="">
            </li>
            <li class="list-inline-item">
                <img class="img-w1" src="./../../../assets/img/Self-starter 2.png" alt="">
            </li>
        </ul>
    </div>
    <div class="bx">
        <h3>Career highlights</h3>
        <p>Eric has been working in multiple industries notably: Banking, computing, health, automotive, food retailing, eCommerce, gaming and education.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <img class="img-w1" src="./../../../assets/img/career-highlight 1.png" alt="">
            </li>
            <li class="list-inline-item">
                <img class="img-w1" src="./../../../assets/img/career-highlight 2.png" alt="">
            </li>
            <li class="list-inline-item">
                <img class="img-w1" src="./../../../assets/img/career-highlight 3.png" alt="">
            </li>
        </ul>
    </div>
    <div class="bx">
        <h3>Avid learner</h3>
        <p>Eric is constantly seeking to expand his knowledge and skills in UX design and UI development. He loves staying up-to-date with the latest industry trends.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <img class="img-w1" src="./../../../assets/img/education 1.png" alt="">
            </li>
            <li class="list-inline-item">
                <img class="img-w1" src="./../../../assets/img/education 2.png" alt="">
            </li>
            <li class="list-inline-item">
                <img class="img-w1" src="./../../../assets/img/education 3.png" alt="">
            </li>
        </ul>
    </div>
</div>