<footer class="footer d-flex align-items-center justify-content-center flex-column">
    <p>footer</p>
    <!-- <ul class="menu list-inline">
        <li class="list-inline-item">
            <a href="">
                <app-icon name="linkedin"></app-icon>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="">
                <app-icon name="github"></app-icon>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="">
                <app-icon name="ixdf"></app-icon>
            </a>
        </li>
    </ul>

    <div class="text-center">
        <p>Eric Njanga</p>
        <span>UI Developer & Designer</span>
    </div> -->
</footer>