<footer class="footer section-spacing-padd-y-top section-spacing-padd-y-bottom">
    <div class="container">
        <div class="text-wrapper">
            <div appFadeInSection>
                <h3 class="component-title">About Eric Njanga</h3>
                <p>Eric is a website consultant specializing in User Experience and User Interface optimization and
                    Development.</p>
                <p>He provides technically viable, business-oriented, and user-centric solutions custom-made for each
                    client’s unique challenge and business objective.</p>
            </div>

            <div appFadeInSection>
                <h3 class="component-title">What makes him unique?</h3>
                <h4>Eric does</h4>
                <ul>
                    <li>Focuses on only 1 project at the time until successful completion</li>
                    <li>Only offers business-centric, technically stable, aesthetically pleasing and long lasting
                        solutions</li>
                </ul>

                <h4>Eric doesn't</h4>
                <ul>
                    <li>Cut corners or use cookie-cutter templates</li>
                    <li>Mix plugins and libraries he doesn’t quite understand ships a half-broken website and rapidly
                        moves to the next client</li>
                </ul>
            </div>

            <div appFadeInSection>
                <h3 class="component-title">Areas of focus</h3>
                <ul>
                    <li>User Experience</li>
                    <li>User Interface (UI)</li>
                    <li>Custom Designed Solutions</li>
                    <li>WordPress UX</li>
                    <li>Responsive web design</li>
                    <li>Mobile design</li>
                    <li>Search Engine Optimizations (SEO)</li>
                </ul>
            </div>

            <div appFadeInSection>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="mailto:eric.njanga@gmail.com">Email me</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/ericnjanga/">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>