<footer class="footer d-flex align-items-center justify-content-center flex-column">
    <div class="wrapper text-center">
        <p>Eric Njanga</p>
        <p class="caption">UI Developer and UX Designer with a passion for software enterprise (Pixel Design and Development).</p>


        <ul class="menu list-inline">
            <li class="list-inline-item">
                <a href="">
                    <app-icon name="linkedin"></app-icon>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="">
                    <app-icon name="github"></app-icon>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="">
                    <app-icon name="ixdf"></app-icon>
                </a>
            </li>
        </ul>
    </div>

  
</footer>