@import './../../../assets/styles/variables';
@import './../../../assets/styles/mixins';



@layer components.footer {
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: map-get($gap, appFooter);
        @include bgColor(pure_white);
    }

    .spacer {
        display: block;
        margin-bottom: 30px;
    }

    .wrapper {
        width: 323px;
    }

    .caption {
        @include type-caption();
    }

    ::ng-deep app-icon {
        @include color(primary_gray1);
    }




    /**
    * TODO: Footer link hover
    * ------
    * It needs to be done
    */
    .list-inline-item:not(:last-child) {
        margin-right: 1.875rem;
    }
}