@import './../../../assets/styles/mixins';

$with-sm: 113px;
$with-md: 135px;
$with-lg: 188px;
$gap: 20px;
$ngLogos: 9;
$total-length: $with-sm + ($with-md * 6) + $with-lg + ($gap * $ngLogos);


:host {
    position: relative;
    display: block;
    padding-top: 50px;
}

.parent-wrapper {
    overflow-x: scroll;
}


@layer components.buttons {

}


@layer components.company-logos {

    .pagination {
        display: flex;
        justify-content: end;
    }


    .wrapper {
        @include rem(width, $total-length);
    }

    .company-logo {
        @include rem(border-radius, 4px);
    }

    .company-logo--width1 {
        @include rem(width, $with-md);
    }

    .company-logo--width2 {
        @include rem(width, $with-lg);
    }

    img {
        @include rem(width, $with-sm);
    }

    .list-inline-item {
        @include rem(margin-right, $gap);

        &.is-last {
            margin-right: 0;
        }
    }
}