<div class="bx-container">
    <div class="component-wrapper client-logos">
        <nav class="scrallable-area--pagination">
            <button class="btn scroll-btn left" (click)="scroll(-1)" mat-icon-button>
                <mat-icon class="chevron_left">chevron_left</mat-icon>
            </button>
            <button class="btn scroll-btn right" (click)="scroll(1)" mat-icon-button>
                <mat-icon class="chevron_right">chevron_right</mat-icon>
            </button>
        </nav>
        
        <h2 class="component-title section-title section-title-icon title-decorator icon-contribution">
            {{title}}
            <app-icon 
                *ngIf="isHoverSupported"
                name="info circle" 
                [matTooltip]="info" 
                matTooltipClass="custom-tooltip-1"
                [matTooltipPosition]="position.value!">
                ></app-icon>
        </h2>

        <div class="scrallable-area--wrapper" #scrollable>
            <ul class="scrallable-area--content list-inline">
                <li *ngFor="let item of list; index as i; last as isLast" class="list-inline-item"
                    [class.is-last]="isLast">
                    <img class="company-logo" [ngClass]="imgClass(i + 1)"
                        src="./../../../assets/img/milestone{{i + 1}}.png" />
                </li>
            </ul>
        </div>
    </div>
</div>